<ol class="breadcrumb">
    <li>
        <a href="/profesores">profesores</a>
    </li>
    <li>
        <a href="/perfilprofesor">?</a>
    </li>
    <li>
        <a href="/actualizargrupo">Actualizar</a>
    </li>
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg pull-right">
        <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
                <i class="ti ti-shift-left"></i>
            </span>
        </a>
    </span>
</ol>
<div class="page-heading">
    <h1>Actualizar Grupo</h1>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Datos del Grupo</h2>
            <a href="/perfilprofesor" class="btn-warning btn pull-right">
                <</a>
        </div>
        <form action="/actualizargrupo" method="post" class="form-horizontal row-border">
            <input type="hidden" name="uuid" value="">
            {{!-- {{#each data}} --}}
            <div class="panel-body">
                <input type="hidden" name="id" value="{{ID}}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-xs-3">
                        <input type="text" name="nombreG" onkeypress="return soloLetras(event)" onpaste="return false"
                            maxlength="50" class="form-control" value="{{Nombre}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cantidad</label>
                    <div class="col-xs-3">
                        <input type="phone" name="cantidadC" onkeypress="return soloNumeros(event)"
                            onpaste="return false" class="form-control" maxlength="2" placeholder="Solo números"
                            value="" required>
                    </div>
                    <label class="col-sm-2 control-label">Curso</label>
                    <div class="col-sm-3">
                        <select name="idCurso" class="form-control" required>
                            <option value="">SELECCIONE CURSO</option>
                            {{#each data}}
                            <option value="{{ID}}">{{NombreC}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            {{!-- {{/each}} --}}
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button type="submit" class="btn-primary btn entity">Actualizar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).ready(function () {
            $('#nacimiento').datepicker({
                format: "yyyy-mm-dd",
                weekStart: 1,
                language: "es",
                autoclose: true,
                todayHighlight: true
            }).on('changeDate', function (e) {
                $("#altdate").val(e.format('yyyy-mm-dd'));
            }
            );
        });
    });
</script>

</div>
</div>