<!-- WELCOME
    ================================================== -->
<div class="splash content-splash">
    <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">

        <!-- Heading -->
        <h1 class="display-6 text-center text-md-left">
            <a class="nav-link" href="/contenido" style="font-size: 2.450rem;">
                <span class="text-primary"><i class="fas fa-angle-left"></i>Actividades Interactivas</span>
            </a>
        </h1>

    </div>
    <div data-w-id="0c5902c5-de13-8574-b2d7-7cf2944d6ea6"
        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
        class="subjects w-clearfix">
        <div class="subject-examen11-tile">
            <div class="subject-name-overlay subject-news"><a href="/crucigrama" style="text-decoration: none;"
                    data-w-id="4671729c-8374-3209-b8e1-527ca2184c95" class="subject-link-block w-inline-block">
                    <div class="subject-tile-title single-line-title">Crucigrama</div><img
                        src="images/Dashboard/flecha.png" data-w-id="4671729c-8374-3209-b8e1-527ca2184c98" alt=""
                        class="image-62">
                </a></div>
        </div>
        <div class="subject-tile adaptabilidad1-tile">
            <div class="subject-name-overlay subject-adaptabilidad"><a href="/partescelula"
                    style="text-decoration: none;" data-w-id="d362bc59-9238-9878-4449-69e5fb55095e"
                    class="subject-link-block w-inline-block">
                    <div class="subject-tile-title single-line-title">Mapa Celula</div><img
                        src="images/Dashboard/flecha.png" data-w-id="113d181f-7ab9-bfe5-1a77-2409e23025d8" alt=""
                        class="image-62">
                </a></div>
        </div>
    </div>

</div>