<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebPlants - Partes de la Celula</title>
    <style>
        #all,
        iframe {
            width: 1366px;
            position: absolute;
            height: 699px;
        }

        body {
            margin: 0px;
        }
    </style>
    <!-- Icono barra de navegacion -->
    <link rel="icon" href="images/Home/Logo BarraNavegacion.png">
</head>

<body>
    <div id="all">
        <iframe width="1340" height="675" frameborder="0"
            src="https://es.educaplay.com/juego/6830416-la_celula.html"></iframe>
    </div>
</body>

</html>