<ol class="breadcrumb">
    <li>
        <a href="/evaluaciones">Evaluaciones</a>
    </li>
    <li>
        <a href="/nuevaevaluacion">Nueva</a>
    </li>
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg pull-right">
        <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
                <i class="ti ti-shift-left"></i>
            </span>
        </a>
    </span>
</ol>
<div class="page-heading">
    <h1>Nueva Evaluación</h1>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Datos de la Evaluación</h2>
            <a href="/evaluaciones" class="btn-warning btn pull-right">
                <</a>
        </div>
        <form action="#" method="post" class="form-horizontal row-border">
            <input type="hidden" name="id" value="">
            <div class="panel-body">
                <header class="qa-test-quizEditPage-header quiz-edit-page-header">
                    <div class="header-spacer"></div>
                    <div class="bottom-header">
                        <div class="details">
                            <div class="todo-icon">
                                <svg width="20px" height="20px" viewBox="0 0 24 24" name="quiz-icon">
                                    <path fill="#fff" fill-rule="evenodd" stroke="none" stroke-width="1"
                                        id="Icon/small/quiz"
                                        d="M6 4h12a2 2 0 012 2v12a2 2 0 01-2 2H6a2 2 0 01-2-2V6a2 2 0 012-2zm1.5 13h7a.5.5 0 100-1h-7a.5.5 0 100 1zm0-2h9a.5.5 0 100-1h-9a.5.5 0 100 1zm2.92-5.717a.8.8 0 10-1.131 1.131l2.262 2.263 3.96-3.96a.8.8 0 10-1.131-1.131l-2.829 2.828-1.13-1.131z">
                                    </path>
                                </svg>
                            </div>
                            <div class="quiz-info">
                                <div class="qa-test-quiz-title quiz-title">
                                    <span>
                                        <font>Prueba sin título</font>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="options">
                            <button type="button" class="preview qa-test-quizEdit-previewQuiz btn btn-secondary">
                                <span>
                                    <font>Avance</font>
                                </span>
                            </button>
                            <button type="button"
                                class="assign assign-quiz qa-test-quizEdit-assignQuiz btn btn-primary">
                                <span>
                                    <font style="vertical-align: inherit;">Asignar</font>
                                </span>
                            </button>
                        </div>
                    </div>
                    {{!-- <div class="__header-save-status qa-test-headerSave-status">
                        <span class="status-label">&nbsp;</span>
                    </div> --}}
                </header>
                <div id="quiz-edit-page-view-port" class="view-port quiz-edit-page container">
                    <div>
                        <div class="section-tab qa-test-quizEdit-tabDetails">
                            <div class="index">
                                <font style="vertical-align: inherit;">1</font>
                            </div>
                            <div class="tab-title">
                                <span>
                                    <a href="/nuevaevaluacion" style="color: #8b8e9f">
                                        Detalles de la evaluación
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="section-tab qa-test-quizEdit-tabQuestions active-tab">
                            <div class="index">
                                <font style="vertical-align: inherit;">2</font>
                            </div>
                            <div class="tab-title">
                                <span>
                                    <a href="/preguntas" style="color: #2e313e">
                                        Preguntas de evaluación
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="quiz-edit-questions">
                        <div class="quiz-content container">
                            <div class="qa-test-editQuestion-listTitle title">
                                <h2>
                                    <span>
                                        <font style="vertical-align: inherit;">Preguntas</font>
                                    </span>
                                </h2>
                                <div class="total-poins">
                                    <span>
                                        <font style="vertical-align: inherit;">Total de preguntas: 0</font>
                                    </span>
                                    <span class="points-spacer">
                                        <font style="vertical-align: inherit;">| </font>
                                    </span>
                                    <span>
                                        <font style="vertical-align: inherit;">Puntos totales: 0</font>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="add-questions">
                            {{!-- <button type="button" class="add-new-question btn btn-primary">
                                <span>
                                    <font style="vertical-align: inherit;">Agregar nueva pregunta</font>
                                </span>
                            </button> --}}
                            <button
                                class="p-2_5 rounded-extra-heavy header-2-text on-dark-background eds qa-test-add-task crate-menu-luncher btn btn-primary btn-lg">
                                <svg class="new" width="24" height="24" viewBox="0 0 24 24" name="plus-icon">
                                    <path fill="#ffff" fill-rule="evenodd" stroke="none" stroke-width="1"
                                        id="Icon/small/plus"
                                        d="M13 11h4a1 1 0 010 2h-4v4a1 1 0 01-2 0v-4H7a1 1 0 010-2h4V7a1 1 0 012 0v4z">
                                    </path>
                                </svg>
                                <span class="new-span">
                                    Crear
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <br><br><br>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button type="submit" class="btn-primary btn entity">Registrar</button>
                    </div>
                </div>
            </div> --}}
        </form>
    </div>
</div>