<ol class="breadcrumb">
    <li>
        <a href="/evaluaciones">Evaluaciones</a>
    </li>
    <li>
        <a href="/nuevaevaluacion">Nueva</a>
    </li>
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg pull-right">
        <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
                <i class="ti ti-shift-left"></i>
            </span>
        </a>
    </span>
</ol>
<div class="page-heading">
    <h1>Nueva Evaluación</h1>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Datos de la Evaluación</h2>
            <a href="/evaluaciones" class="btn-warning btn pull-right">
                <</a>
        </div>
        <form action="#" method="post" class="form-horizontal row-border">
            <input type="hidden" name="id" value="">
            <div class="panel-body">
                <header class="qa-test-quizEditPage-header quiz-edit-page-header">
                    <div class="header-spacer"></div>
                    <div class="bottom-header">
                        <div class="details">
                            <div class="todo-icon">
                                <svg width="20px" height="20px" viewBox="0 0 24 24" name="quiz-icon">
                                    <path fill="#fff" fill-rule="evenodd" stroke="none" stroke-width="1"
                                        id="Icon/small/quiz"
                                        d="M6 4h12a2 2 0 012 2v12a2 2 0 01-2 2H6a2 2 0 01-2-2V6a2 2 0 012-2zm1.5 13h7a.5.5 0 100-1h-7a.5.5 0 100 1zm0-2h9a.5.5 0 100-1h-9a.5.5 0 100 1zm2.92-5.717a.8.8 0 10-1.131 1.131l2.262 2.263 3.96-3.96a.8.8 0 10-1.131-1.131l-2.829 2.828-1.13-1.131z">
                                    </path>
                                </svg>
                            </div>
                            <div class="quiz-info">
                                <div class="qa-test-quiz-title quiz-title">
                                    <span>
                                        <font class="titulo">Prueba sin título</font>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="options">
                            <button type="button" class="preview qa-test-quizEdit-previewQuiz btn btn-secondary">
                                <span>
                                    <font>Avance</font>
                                </span>
                            </button>
                            <button type="button"
                                class="assign assign-quiz qa-test-quizEdit-assignQuiz btn btn-primary">
                                <span>
                                    <font style="vertical-align: inherit;">Asignar</font>
                                </span>
                            </button>
                        </div>
                    </div>
                    {{!-- <div class="__header-save-status qa-test-headerSave-status">
                        <span class="status-label">&nbsp;</span>
                    </div> --}}
                </header>
                <div id="quiz-edit-page-view-port" class="view-port quiz-edit-page container">
                    <div>
                        <div class="section-tab qa-test-quizEdit-tabDetails active-tab">
                            <div class="index">
                                <font style="vertical-align: inherit;">1</font>
                            </div>
                            <div class="tab-title">
                                <span onclick="mostrarDetalle();">
                                    Detalles del cuestionario
                                </span>
                            </div>
                        </div>
                        <div class="section-tab qa-test-quizEdit-tabQuestions">
                            <div class="index">
                                <font style="vertical-align: inherit;">2</font>
                            </div>
                            <div class="tab-title">
                                <span style="color: #8b8e9f" value="Preguntas de prueba" onclick="mostrarQuiz();">
                                    {{!-- Preguntas de prueba --}}
                                     <a href="/preguntas" style="color: #2e313e">
                                        Preguntas de evaluación
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="detallesCuestionario"
                        class="quiz-details quiz-content qa-test-quizEdit-quizDetails container">
                        <div class="title">
                            <h2>
                                <span>
                                    <font style="vertical-align: inherit;">Detalles de la evaluación</font>
                                </span>
                            </h2>
                        </div>
                        <div class="details">
                            <h3>
                                <span>
                                    <font style="vertical-align: inherit;">Título de la evaluación</font>
                                </span>
                            </h3>
                            <input type="text" class="qa-test-quizEdit-titleInput form-control" onkeypress="return soloLetras(event)">
                            <h3>
                                <span>
                                    <font style="vertical-align: inherit;">Instrucciones</font>
                                </span>
                            </h3>
                            <textarea class="qa-test-quizEdit-instructionsInput form-control"></textarea>
                            {{!-- <div class="options-message">
                                <span class="message-text">
                                    <span>
                                        <font style="vertical-align: inherit;">Hay más opciones de prueba
                                            disponibles al asignar una prueba</font>
                                    </span>
                                </span>
                                <a class="learn-more-link"
                                    href="https://support.edmodo.com/hc/en-us/articles/205004764--Create-and-Send-a-New-Quiz-Teacher-"
                                    target="_blank" rel="noopener noreferrer">
                                    <span>
                                        <font style="vertical-align: inherit;">Aprende más</font>
                                    </span>
                                </a>
                                <div class="info-icon">
                                    <svg width="16" height="16" viewBox="0 0 24 24" name="info-circle-icon">
                                        <path fill="#0040e6" fill-rule="evenodd" stroke="none" stroke-width="1"
                                            id="Icon/small/infocirle"
                                            d="M12 21a9 9 0 110-18 9 9 0 010 18zm-1.227-9.411v4.095a1.226 1.226 0 002.454 0v-4.095a1.226 1.226 0 00-2.454 0zM12 8.727a1.227 1.227 0 100-2.454 1.227 1.227 0 000 2.454z">
                                        </path>
                                    </svg>
                                </div>
                            </div> --}}
                        </div>
                    </div>
                    <div id="preguntas">
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>