<ol class="breadcrumb">
    <li>
        <a href="/evaluaciones">Examen</a>
    </li>
    <li>
        <a href="/nuevaevaluacion">Nuevo</a>
    </li>
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg pull-right">
        <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
                <i class="ti ti-shift-left"></i>
            </span>
        </a>
    </span>
</ol>
<div class="page-heading">
    <h1>Nuevo Examen</h1>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Datos del Examen</h2>
            <a href="/evaluaciones" class="btn-warning btn pull-right">
                <</a>
        </div>
        <form action="#" method="post" class="form-horizontal row-border">
            <input type="hidden" name="id" value="">
            <div class="App app-teacher">
                <header class="qa-test-quizEditPage-header quiz-edit-page-header">
                    <div class="bottom-header">
                        <div class="details">
                            <div class="todo-icon"
                                style="background-color: rgb(62, 66, 83); width: 40px; height: 40px; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                                <svg width="20px" height="20px" viewBox="0 0 24 24" name="quiz-icon">
                                    <path fill="#fff" fill-rule="evenodd" stroke="none" stroke-width="1"
                                        id="Icon/small/quiz"
                                        d="M6 4h12a2 2 0 012 2v12a2 2 0 01-2 2H6a2 2 0 01-2-2V6a2 2 0 012-2zm1.5 13h7a.5.5 0 100-1h-7a.5.5 0 100 1zm0-2h9a.5.5 0 100-1h-9a.5.5 0 100 1zm2.92-5.717a.8.8 0 10-1.131 1.131l2.262 2.263 3.96-3.96a.8.8 0 10-1.131-1.131l-2.829 2.828-1.13-1.131z">
                                    </path>
                                </svg></div>
                            <div class="quiz-info">
                                <div class="qa-test-quiz-title quiz-title"><span>
                                        <font style="vertical-align: inherit;">
                                            <font class="titulo-quiz" style="vertical-align: inherit;"><p>Prueba sin título </p>
                                            </font>
                                        </font>
                                    </span></div>
                            </div>
                        </div>
                        <div class="options">
                            <button type="button" class="preview qa-test-quizEdit-previewQuiz btn btn-secondary"><span>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Avance</font>
                                    </font>
                                </span>
                            </button>
                            <button type="button"
                                class="assign assign-quiz qa-test-quizEdit-assignQuiz btn btn-primary"><span>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Registrar</font>
                                    </font>
                                </span>
                            </button>
                        </div>
                    </div>
                </header>
                <br>
                <div id="quiz-edit-page-view-port" class="view-port quiz-edit-page container">
                    <div>
                        <div class="section-tab qa-test-quizEdit-tabDetails active-tab">
                            <div class="index">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">1</font>
                                </font>
                            </div>
                            <div class="tab-title"><span>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Detalles del cuestionario</font>
                                    </font>
                                </span>
                            </div>
                        </div>
                        <div class="section-tab qa-test-quizEdit-tabQuestions ">
                            <div class="index">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">2</font>
                                </font>
                            </div>
                            <div class="tab-title"><span>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Preguntas de prueba</font>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="quiz-details quiz-content qa-test-quizEdit-quizDetails container">
                        <div class="title">
                            <h2><span>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Detalles del cuestionario</font>
                                    </font>
                                </span>
                            </h2>
                        </div>
                        <div class="details">
                            <h3>
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Título del cuestionario</font>
                                    </font>
                                </span>
                            </h3>
                            <input type="text" class="qa-test-quizEdit-titleInput form-control"
                                onkeypress="return soloLetras(event)" value="">
                            <h3>
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Instrucciones</font>
                                    </font>
                                </span>
                            </h3><textarea class="qa-test-quizEdit-instructionsInput form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            {{!-- <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button type="submit" class="btn-primary btn entity">Registrar</button>
                    </div>
                </div>
            </div> --}}
        </form>
    </div>
</div>