<ol class="breadcrumb">
    <li>
        <a href="/evaluaciones">Evaluaciones</a>
    </li>
    <li>
        <a href="/nuevaevaluacion">Nueva</a>
    </li>
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg pull-right">
        <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
                <i class="ti ti-shift-left"></i>
            </span>
        </a>
    </span>
</ol>
<div class="page-heading">
    <h1>Nueva Evaluación</h1>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Datos de la Evaluación</h2>
            <a href="/evaluaciones" class="btn-warning btn pull-right">
                <</a>
        </div>
        <!--form action="#" method="post" class="form-horizontal row-border"-->
            <input type="hidden" name="id" value="">
            <div class="panel-body">
                <header class="qa-test-quizEditPage-header quiz-edit-page-header">
                    <div class="header-spacer"></div>
                    <div class="bottom-header">
                        <div class="details">
                            <div class="todo-icon">
                                <svg width="20px" height="20px" viewBox="0 0 24 24" name="quiz-icon">
                                    <path fill="#fff" fill-rule="evenodd" stroke="none" stroke-width="1"
                                        id="Icon/small/quiz"
                                        d="M6 4h12a2 2 0 012 2v12a2 2 0 01-2 2H6a2 2 0 01-2-2V6a2 2 0 012-2zm1.5 13h7a.5.5 0 100-1h-7a.5.5 0 100 1zm0-2h9a.5.5 0 100-1h-9a.5.5 0 100 1zm2.92-5.717a.8.8 0 10-1.131 1.131l2.262 2.263 3.96-3.96a.8.8 0 10-1.131-1.131l-2.829 2.828-1.13-1.131z">
                                    </path>
                                </svg>
                            </div>
                            <div class="quiz-info">
                                <div class="qa-test-quiz-title quiz-title">
                                    <span>
                                        <font class="titulo">Prueba sin título</font>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="options">
                            <button type="button" class="preview qa-test-quizEdit-previewQuiz btn btn-secondary">
                                <span>
                                    <font>Avance</font>
                                </span>
                            </button>
                            <button type="button"
                                class="assign assign-quiz qa-test-quizEdit-assignQuiz btn btn-primary">
                                <span>
                                    <font style="vertical-align: inherit;">Asignar</font>
                                </span>
                            </button>
                        </div>
                    </div>
                    {{!-- <div class="__header-save-status qa-test-headerSave-status">
                        <span class="status-label">&nbsp;</span>
                    </div> --}}
                </header>
                <div id="quiz-edit-page-view-port" class="view-port quiz-edit-page container">
                    <div>
                        <div class="section-tab qa-test-quizEdit-tabDetails active-tab">
                            <div class="index">
                                <font style="vertical-align: inherit;">1</font>
                            </div>
                            <div class="tab-title">
                                <span onclick="mostrarDetalle();">
                                    Detalles del cuestionario
                                </span>
                            </div>
                        </div>
                        <div class="section-tab qa-test-quizEdit-tabQuestions">
                            <div class="index">
                                <font style="vertical-align: inherit;">2</font>
                            </div>
                            <div class="tab-title">
                                <span style="color: #8b8e9f" value="Preguntas de prueba" onclick="mostrarQuiz();">
                                    Preguntas de prueba
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="detallesCuestionario" style="display:block;"
                        class="quiz-details quiz-content qa-test-quizEdit-quizDetails container">
                        <div class="title">
                            <h2>
                                <span>
                                    <font style="vertical-align: inherit;">Detalles de la evaluación</font>
                                </span>
                            </h2>
                        </div>
                        <div class="details">
                            <h3>
                                <span>
                                    <font style="vertical-align: inherit;">Título de la evaluación</font>
                                </span>
                            </h3>
                            <input type="text" id="title-question" class="qa-test-quizEdit-titleInput form-control"
                                onkeypress="return soloLetras(event)">
                            <h3>
                                <span>
                                    <font style="vertical-align: inherit;">Instrucciones</font>
                                </span>
                            </h3>
                            <textarea class="qa-test-quizEdit-instructionsInput form-control"></textarea>
                            {{!-- <div class="options-message">
                                <span class="message-text">
                                    <span>
                                        <font style="vertical-align: inherit;">Hay más opciones de prueba
                                            disponibles al asignar una prueba</font>
                                    </span>
                                </span>
                                <a class="learn-more-link"
                                    href="https://support.edmodo.com/hc/en-us/articles/205004764--Create-and-Send-a-New-Quiz-Teacher-"
                                    target="_blank" rel="noopener noreferrer">
                                    <span>
                                        <font style="vertical-align: inherit;">Aprende más</font>
                                    </span>
                                </a>
                                <div class="info-icon">
                                    <svg width="16" height="16" viewBox="0 0 24 24" name="info-circle-icon">
                                        <path fill="#0040e6" fill-rule="evenodd" stroke="none" stroke-width="1"
                                            id="Icon/small/infocirle"
                                            d="M12 21a9 9 0 110-18 9 9 0 010 18zm-1.227-9.411v4.095a1.226 1.226 0 002.454 0v-4.095a1.226 1.226 0 00-2.454 0zM12 8.727a1.227 1.227 0 100-2.454 1.227 1.227 0 000 2.454z">
                                        </path>
                                    </svg>
                                </div>
                            </div> --}}
                        </div>
                    </div>
                    <div id="preguntas" style="display:none;">
                        <div class="quiz-edit-questions">
                            <div id="original" class="quiz-content container">
                                <div class="qa-test-editQuestion-listTitle title">
                                    <h2>
                                        <span>
                                            <font style="vertical-align: inherit;">Preguntas</font>
                                        </span>
                                    </h2>
                                    <div class="total-poins">
                                        <span>
                                            <font style="vertical-align: inherit;">Total de preguntas: 0</font>
                                        </span>
                                        <span class="points-spacer">
                                            <font style="vertical-align: inherit;">| </font>
                                        </span>
                                        <span>
                                            <font style="vertical-align: inherit;">Puntos totales: 0</font>
                                        </span>
                                    </div>
                                </div>
                                <div id="newQuestion1" class="qa-test-question-edit question-edit __quiz-questions oculto">
                                    <div class="qa-test-quizEdit-dndQuestion quiz-question-drop-top">
                                        <div class="qa-test-question-edit-contents question-edit-contents">
                                            <div draggable="true"></div>
                                            <p class="question-number">
                                                1.
                                            </p>
                                            <div class="question-info">
                                                <div>
                                                    <div class="question-dropdown-options">
                                                        <select id="inputSelect"
                                                            class="question-dropdown qa-test-quizEdit-changeType form-control">
                                                            <option value="1">
                                                                <font style="vertical-align: inherit;">Verdadero Falso
                                                                </font>
                                                            </option>
                                                            <option value="2">
                                                                <font style="vertical-align: inherit;">Opción multiple
                                                                </font>
                                                            </option>
                                                            <option value="3">
                                                                <font style="vertical-align: inherit;">Pareo</font>
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <textarea rows="3" placeholder="Texto de la pregunta"
                                                        maxlength="4096"
                                                        class="qa-test-quizEdit-multiChoiceQuestionText form-control"></textarea>
                                                    {{!-- <div class="question-details">
                                                    <span class="pull-end">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Límite de 0/4096
                                                                caracteres</font>
                                                        </font>
                                                    </span>
                                                    </div> --}}
                                                    {{!-- <div class="attachments">
                                                    <div class="__attachment-buttons">
                                                        <span>
                                                            <label
                                                                for="upload-54d1c220-dada-11ea-aec2-0df7d288b281"
                                                                class="btn">
                                                                <div class="btn-show-label">
                                                                    <svg width="18" height="18"
                                                                        viewBox="0 0 24 24"
                                                                        class="file-attachment-icon">
                                                                        <path fill="#5c6178" fill-rule="evenodd"
                                                                            stroke="none" stroke-width="1"
                                                                            id="Icon/small/clip"
                                                                            d="M5 8.654a1 1 0 112 0V14a5 5 0 0010 0V7.993a2.993 2.993 0 00-5.985 0v5.978a.998.998 0 001.995 0V8.654a1 1 0 012 0v5.317a2.998 2.998 0 11-5.995 0V7.993a4.993 4.993 0 119.985 0V14a7 7 0 01-14 0V8.654z">
                                                                        </path>
                                                                    </svg>
                                                                    <span>
                                                                        <font style="vertical-align: inherit;">
                                                                            <font style="vertical-align: inherit;">
                                                                                Adjuntar archivos</font>
                                                                        </font>
                                                                    </span>
                                                                    </div>
                                                                    <input type="file"
                                                                    class="qa-test-attachment-upload"
                                                                    id="upload-54d1c220-dada-11ea-aec2-0df7d288b281"
                                                                    multiple="" value="" style="display: none;">
                                                            </label></span><span><button type="button"
                                                                class="qa-test-linkmodal-open btn btn-secondary">
                                                                <div class="btn-show-label"><svg width="18" height="18"
                                                                        viewBox="0 0 24 24"
                                                                        class="link-attachment-icon">
                                                                        <path fill="#5c6178" fill-rule="evenodd"
                                                                            stroke="none" stroke-width="1"
                                                                            id="Icon/small/link"
                                                                            d="M10.94 5.927a1.167 1.167 0 01.34-.826 4.7 4.7 0 016.647 0l.778.778a5.027 5.027 0 010 7.11l-1.641 1.64a5.027 5.027 0 01-7.11 0l-.273-.274a1.16 1.16 0 011.64-1.64l.274.273a2.707 2.707 0 003.828 0l1.641-1.64a2.707 2.707 0 000-3.829l-.778-.778a2.381 2.381 0 00-2.909-.358 4.708 4.708 0 00-2.438-.456zm2.404 11.935a1.167 1.167 0 01-.34.826 4.7 4.7 0 01-6.647 0l-.778-.778a5.027 5.027 0 010-7.11l1.64-1.64a5.027 5.027 0 017.11 0l.274.273a1.16 1.16 0 11-1.64 1.641l-.274-.273a2.707 2.707 0 00-3.828 0L7.22 12.44a2.707 2.707 0 000 3.829l.778.778a2.381 2.381 0 002.909.358 4.708 4.708 0 002.437.456z">
                                                                        </path>
                                                                    </svg><span>
                                                                        <font style="vertical-align: inherit;">
                                                                            <font style="vertical-align: inherit;">
                                                                                Añadir enlace</font>
                                                                        </font>
                                                                    </span></div>
                                                            </button></span><span><button type="button"
                                                                class="qa-test-librarymodal-open btn btn-secondary">
                                                                <div class="btn-show-label"><svg width="18" height="18"
                                                                        viewBox="0 0 24 24">
                                                                        <path fill="#5c6178" fill-rule="evenodd"
                                                                            stroke="none" stroke-width="1"
                                                                            id="Icon/small/library"
                                                                            d="M20 4v16H6a2 2 0 01-2-2V6a2 2 0 012-2h14zm-9.5 10l2.5 2v-6H8v6l2.5-2zM6 7a1 1 0 001 1h11V6H7a1 1 0 00-1 1z">
                                                                        </path>
                                                                    </svg> <span>
                                                                        <font style="vertical-align: inherit;">
                                                                            <font style="vertical-align: inherit;">
                                                                                Agregar de la biblioteca</font>
                                                                        </font>
                                                                    </span></div>
                                                            </button></span><span class="info-icon"><svg width="20"
                                                                height="20" viewBox="0 0 24 24" name="info-circle-icon">
                                                                <path fill="#2e313e" fill-rule="evenodd" stroke="none"
                                                                    stroke-width="1" id="Icon/small/infocirle"
                                                                    d="M12 21a9 9 0 110-18 9 9 0 010 18zm-1.227-9.411v4.095a1.226 1.226 0 002.454 0v-4.095a1.226 1.226 0 00-2.454 0zM12 8.727a1.227 1.227 0 100-2.454 1.227 1.227 0 000 2.454z">
                                                                </path>
                                                            </svg></span></div>
                                                    </div> --}}
                                                    <div id="response-question-true-false">
                                                        <div class="response-header">
                                                            <h2>
                                                                <span>
                                                                    <font style="vertical-align: inherit;">Respuestas
                                                                    </font>
                                                                </span>
                                                            </h2>
                                                            <h3 class="correct-answer-title">
                                                                <span>
                                                                    <font style="vertical-align: inherit;">Respuesta
                                                                        correcta</font>
                                                                </span>
                                                            </h3>
                                                        </div>
                                                        <div class="choice-container">
                                                            <div class="">
                                                                <div
                                                                    class="qa-test-multichoice-response multichoice-response">
                                                                    <p>
                                                                        <font style="vertical-align: inherit;">Cierto
                                                                        </font>
                                                                    </p>
                                                                    <input type="radio" style="margin-left: 450px;"
                                                                        class="custom-control-input"
                                                                        name="question-Radios">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="choice-container">
                                                            <div class="">
                                                                <div
                                                                    class="qa-test-multichoice-response multichoice-response">
                                                                    <p>
                                                                        <font style="vertical-align: inherit;">Falso
                                                                        </font>
                                                                    </p>
                                                                    <input type="radio" style="margin-left: 450px;"
                                                                        class="custom-control-input"
                                                                        name="question-Radios">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="response-question-multiple-option">
                                                        <div class="response-header">
                                                            <h2>
                                                                <span>
                                                                    <font style="vertical-align: inherit;">Respuestas
                                                                    </font>
                                                                </span>
                                                            </h2>
                                                            <h3 class="correct-answer-title">
                                                                <span>
                                                                    <font style="vertical-align: inherit;">Respuesta
                                                                        correcta</font>
                                                                </span>
                                                            </h3>
                                                        </div>
                                                        <div class="choice-container">
                                                            <div class="multichoice-option offset-multichoice-option">
                                                                <div
                                                                    class="qa-test-multichoice-response multichoice-response">
                                                                    <textarea rows="1" placeholder="Ingresar respuesta"
                                                                        index="0"
                                                                        class="qa-test-quizEdit-multiChoiceOptionText form-control"
                                                                        style="height: 21px;"></textarea>
                                                                    <input type="radio" style="margin-right: 20px;"
                                                                        class="custom-control-input"
                                                                        name="question-Radios">
                                                                </div>
                                                                <div class="qa-test-quizEdit-multiChoiceDeleteResponse">
                                                                    <svg width="24" height="24" viewBox="0 0 24 24"
                                                                        class="close-icon">
                                                                        <path fill="#999999" fill-rule="evenodd"
                                                                            stroke="none" stroke-width="1"
                                                                            id="Icon/small/x"
                                                                            d="M13.442 11.994l3.507 3.54a1 1 0 01-1.414 1.414l-3.502-3.533-3.57 3.533a1 1 0 01-1.42-1.408L10.62 12 7.05 8.463a1 1 0 011.415-1.414l3.563 3.531 3.502-3.525a1 1 0 111.42 1.408l-3.507 3.531z">
                                                                        </path>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="choice-container">
                                                            <div class="multichoice-option offset-multichoice-option">
                                                                <div
                                                                    class="qa-test-multichoice-response multichoice-response">
                                                                    <textarea rows="1" placeholder="Ingresar respuesta"
                                                                        index="1"
                                                                        class="qa-test-quizEdit-multiChoiceOptionText form-control"
                                                                        style="height: 21px;"></textarea>
                                                                    <input type="radio" style="margin-right: 20px;"
                                                                        class="custom-control-input"
                                                                        name="question-Radios">
                                                                </div>
                                                                <div class="qa-test-quizEdit-multiChoiceDeleteResponse">
                                                                    <svg width="24" height="24" viewBox="0 0 24 24"
                                                                        class="close-icon">
                                                                        <path fill="#999999" fill-rule="evenodd"
                                                                            stroke="none" stroke-width="1"
                                                                            id="Icon/small/x"
                                                                            d="M13.442 11.994l3.507 3.54a1 1 0 01-1.414 1.414l-3.502-3.533-3.57 3.533a1 1 0 01-1.42-1.408L10.62 12 7.05 8.463a1 1 0 011.415-1.414l3.563 3.531 3.502-3.525a1 1 0 111.42 1.408l-3.507 3.531z">
                                                                        </path>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="choice-container">
                                                            <div class="multichoice-option offset-multichoice-option">
                                                                <div
                                                                    class="qa-test-multichoice-response multichoice-response">
                                                                    <textarea rows="1" placeholder="Ingresar respuesta"
                                                                        index="1"
                                                                        class="qa-test-quizEdit-multiChoiceOptionText form-control"
                                                                        style="height: 21px;"></textarea>
                                                                    <input type="radio" style="margin-right: 20px;"
                                                                        class="custom-control-input"
                                                                        name="question-Radios">
                                                                </div>
                                                                <div class="qa-test-quizEdit-multiChoiceDeleteResponse">
                                                                    <svg width="24" height="24" viewBox="0 0 24 24"
                                                                        class="close-icon">
                                                                        <path fill="#999999" fill-rule="evenodd"
                                                                            stroke="none" stroke-width="1"
                                                                            id="Icon/small/x"
                                                                            d="M13.442 11.994l3.507 3.54a1 1 0 01-1.414 1.414l-3.502-3.533-3.57 3.533a1 1 0 01-1.42-1.408L10.62 12 7.05 8.463a1 1 0 011.415-1.414l3.563 3.531 3.502-3.525a1 1 0 111.42 1.408l-3.507 3.531z">
                                                                        </path>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="add-response qa-test-quizEdit-multiChoiceAddResponse">
                                                            <svg width="24" height="24" viewBox="0 0 24 24"
                                                                style="vertical-align: middle;">
                                                                <path fill="#8b8e9f" fill-rule="evenodd" stroke="none"
                                                                    stroke-width="1" id="Icon/small/plus"
                                                                    d="M13 11h4a1 1 0 010 2h-4v4a1 1 0 01-2 0v-4H7a1 1 0 010-2h4V7a1 1 0 012 0v4z">
                                                                </path>
                                                            </svg>
                                                            <h3 class="tight inline"><span>
                                                                    <font style="vertical-align: inherit;">Agregar
                                                                        respuesta</font>
                                                                </span></h3>
                                                        </div>
                                                    </div>
                                                    <div id="responde-question-matching">
                                                        <h2>
                                                            <span>
                                                                <font style="vertical-align: inherit;">Respuestas</font>
                                                            </span>
                                                        </h2>
                                                        <div class="matching-response offset-matching-response">
                                                            <div id="choice-228048136-0" class="matching-choice">
                                                                <textarea rows="1" placeholder="Ingresar pregunta"
                                                                    class="qa-test-quizEdit-matchingResponse form-control"
                                                                    style="height: 21px;"></textarea></div>
                                                            <div class="delimiter"></div>
                                                            <div id="answer-228048136-0" class="matching-choice">
                                                                <textarea rows="1" placeholder="Ingresar respuesta"
                                                                    class="qa-test-quizEdit-matchingAnswer form-control"
                                                                    style="height: 21px;"></textarea></div><svg
                                                                width="24" height="24" viewBox="0 0 24 24"
                                                                class="close-icon qa-test-quizEdit-matchingDeleteResponse">
                                                                <path fill="#8b8e9f" fill-rule="evenodd" stroke="none"
                                                                    stroke-width="1" id="Icon/small/x"
                                                                    d="M13.442 11.994l3.507 3.54a1 1 0 01-1.414 1.414l-3.502-3.533-3.57 3.533a1 1 0 01-1.42-1.408L10.62 12 7.05 8.463a1 1 0 011.415-1.414l3.563 3.531 3.502-3.525a1 1 0 111.42 1.408l-3.507 3.531z">
                                                                </path>
                                                            </svg>
                                                        </div>
                                                        <div class="matching-response offset-matching-response">
                                                            <div id="choice-228048136-1" class="matching-choice">
                                                                <textarea rows="1" placeholder="Ingresar pregunta"
                                                                    class="qa-test-quizEdit-matchingResponse form-control"
                                                                    style="height: 21px;"></textarea></div>
                                                            <div class="delimiter"></div>
                                                            <div id="answer-228048136-1" class="matching-choice">
                                                                <textarea rows="1" placeholder="Ingresar respuesta"
                                                                    class="qa-test-quizEdit-matchingAnswer form-control"
                                                                    style="height: 21px;"></textarea></div><svg
                                                                width="24" height="24" viewBox="0 0 24 24"
                                                                class="close-icon qa-test-quizEdit-matchingDeleteResponse">
                                                                <path fill="#8b8e9f" fill-rule="evenodd" stroke="none"
                                                                    stroke-width="1" id="Icon/small/x"
                                                                    d="M13.442 11.994l3.507 3.54a1 1 0 01-1.414 1.414l-3.502-3.533-3.57 3.533a1 1 0 01-1.42-1.408L10.62 12 7.05 8.463a1 1 0 011.415-1.414l3.563 3.531 3.502-3.525a1 1 0 111.42 1.408l-3.507 3.531z">
                                                                </path>
                                                            </svg>
                                                        </div>
                                                        <div class="matching-response offset-matching-response">
                                                            <div id="choice-228048136-2" class="matching-choice">
                                                                <textarea rows="1" placeholder="Ingresar pregunta"
                                                                    class="qa-test-quizEdit-matchingResponse form-control"
                                                                    style="height: 21px;"></textarea></div>
                                                            <div class="delimiter"></div>
                                                            <div id="answer-228048136-2" class="matching-choice">
                                                                <textarea rows="1" placeholder="Ingresar respuesta"
                                                                    class="qa-test-quizEdit-matchingAnswer form-control"
                                                                    style="height: 21px;"></textarea></div><svg
                                                                width="24" height="24" viewBox="0 0 24 24"
                                                                class="close-icon qa-test-quizEdit-matchingDeleteResponse">
                                                                <path fill="#8b8e9f" fill-rule="evenodd" stroke="none"
                                                                    stroke-width="1" id="Icon/small/x"
                                                                    d="M13.442 11.994l3.507 3.54a1 1 0 01-1.414 1.414l-3.502-3.533-3.57 3.533a1 1 0 01-1.42-1.408L10.62 12 7.05 8.463a1 1 0 011.415-1.414l3.563 3.531 3.502-3.525a1 1 0 111.42 1.408l-3.507 3.531z">
                                                                </path>
                                                            </svg>
                                                        </div>
                                                        <div class="add-response qa-test-quizEdit-matchingAddReponse">
                                                            <svg width="24" height="24" viewBox="0 0 24 24"
                                                                style="vertical-align: middle;">
                                                                <path fill="#8b8e9f" fill-rule="evenodd" stroke="none"
                                                                    stroke-width="1" id="Icon/small/plus"
                                                                    d="M13 11h4a1 1 0 010 2h-4v4a1 1 0 01-2 0v-4H7a1 1 0 010-2h4V7a1 1 0 012 0v4z">
                                                                </path>
                                                            </svg>
                                                            <h3 class="tight inline"><span>
                                                                    <font style="vertical-align: inherit;">
                                                                        <font style="vertical-align: inherit;">Agregar
                                                                            respuesta</font>
                                                                    </font>
                                                                </span></h3>
                                                        </div>
                                                    </div>
                                                    <h2>
                                                        <span class="grading-title">
                                                            <font style="vertical-align: inherit;">Calificación</font>
                                                        </span>
                                                    </h2>
                                                    <div class="question-options">
                                                        <div class="points">
                                                            <input type="text" onkeypress="return soloNumeros(event)"
                                                                maxlength="3" min="1" max="5"
                                                                class="input-points qa-test-quizEdit-inputPoints form-control"
                                                                value="1.0">
                                                            <span>
                                                                <font style="vertical-align: inherit;">puntos</font>
                                                            </span>
                                                        </div>
                                                        <button id = "1" onclick="duplicate(this)" class="option-button qa-test-quizEdit-deleteQuestion btn btn-link">
                                                            Duplicar pregunta
                                                        </button>
                                                        <button id="1" onclick="deleteQuestion(this)"
                                                            class="option-button qa-test-quizEdit-deleteQuestion btn btn-link"
                                                            >
                                                            <svg width="14" height="14" viewBox="0 0 24 24">
                                                                <path fill="#8b8e9f" fill-rule="evenodd" stroke="none"
                                                                    stroke-width="1" id="Icon/small/trash"
                                                                    d="M7.4 21A2.4 2.4 0 015 18.6V10h14v8.6a2.4 2.4 0 01-2.4 2.4H7.4zM7 14v3.003a1 1 0 102 0V14a1 1 0 00-2 0zm4 0v3.003a1 1 0 102 0V14a1 1 0 00-2 0zm4 0v3.003a1 1 0 102 0V14a1 1 0 00-2 0zM8 6v-.6A2.4 2.4 0 0110.4 3h3.2A2.4 2.4 0 0116 5.4V6h1.6A2.4 2.4 0 0120 8.4V9H4v-.6A2.4 2.4 0 016.4 6H8zm2.5 0h3a.5.5 0 100-1h-3a.5.5 0 100 1z">
                                                                </path>
                                                            </svg>
                                                            <span>
                                                                <font style="vertical-align: inherit;">Eliminar pregunta    
                                                                </font>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <svg width="24" height="24" viewBox="0 0 24 24" class="question-collapse">
                                                <path fill="#8b8e9f" fill-rule="evenodd" stroke="none" stroke-width="1"
                                                    id="Icon/small/up"
                                                    d="M7.707 14.707a1 1 0 11-1.414-1.414l5-5a1 1 0 011.414 0l5 5a1 1 0 01-1.414 1.414L12 10.414l-4.293 4.293z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="qa-test-quizEdit-dndQuestion quiz-question-drop-bottom"></div>
                                </div>
                            </div>
                        </div>
                        <div class="add-questions">
                                <a href="#newQuestion1"
                                    class="assign assign-quiz qa-test-quizEdit-assignQuiz btn btn-primary btn-new-question btn-lg info"><i
                                        class="ti ti-plus"></i>
                                    <span class="new-span">
                                        Crear
                                    </span>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        <!--/form-->
    </div>
</div>