<!-- Heading -->
<h1 class="display-4 text-center text-md-left" style="padding-left: 50px">
    <a class="nav-link" href="/partes" style="font-size: 2.450rem;">
        <span class="text-primary"><i class="fas fa-angle-left"></i></span>
    </a>
</h1>

<div id="joyride"></div>
<div id="root" class="">
    <div role="alert" class="alertContainer" aria-live="polite"></div>
    <div id="app" class="layout reader noMainMenu publicExpanded fontMedium serifFont themeWhite bgWhite lessSpacing">

        <div id="content">
            <main id="theScroll" class="scroll">
                <div class="lrContainer on">
                    <div class="left" style="transition: width 0.5s ease 0s, max-width 0.5s ease 0s;">
                        <div class="textview view">
                            <div class="textGatingGate">
                                <div class="textGatingSizeSensor">
                                    <div class="textSectionContainer" data-textsectionid="1766914">
                                        <div class="textSection sourcedomain-activelylearn">
                                            <figure><img alt="" src="images/Dashboard/citoplasma.jpg"
                                                    style="cursor: pointer;">
                                            </figure>
                                            <h3>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Citoplasma</font>
                                                </font>
                                            </h3>
                                            <p>
                                            <div class="pnum"><span data-count="1">1</span></div>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">El citoplasma es el medio acuoso
                                                    o gelatinoso en el interior de la célula.
                                                </font>
                                                <font style="vertical-align: inherit;"> Está conformado por dos
                                                    elementos fundamentales: el citoesqueleto y los organelos.
                                                </font>
                                            </font>
                                            </p>
                                            <p>
                                            <div class="pnum"><span data-count="1">2</span></div>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">En el caso particular de las
                                                    células procariotas, desprovistas de núcleo, el
                                                </font>
                                                <font style="vertical-align: inherit;"> citoplasma es el responsable de
                                                    portar el material genético, constituido por una única molécula de
                                                    ADN.
                                                </font>
                                            </font>
                                            </p>
                                            <h3>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Organelos del citoplasma
                                                    </font>
                                                </font>
                                            </h3>
                                            <p>
                                            <div class="pnum"><span data-count="1">3</span></div>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Los organelos, llamados también
                                                    orgánulos u organelas, son órganos
                                                </font>
                                                <font style="vertical-align: inherit;"> pequeños contenidos en el
                                                    citoplasma que cumplen funciones específicas. El
                                                </font>
                                                <font style="vertical-align: inherit;"> número y variedad de organelos
                                                    depende del tipo de célula y su función.
                                                </font>
                                                <font style="vertical-align: inherit;"> Algunos de los organelos mejor
                                                    conocidos son:
                                                </font>
                                            </font>
                                            </p>
                                            <ul>
                                                <li><strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Ribosomas</font>
                                                        </font>
                                                    </strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;"> : </font>
                                                    </font>
                                                    <font color="white">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">. </font>
                                                        </font>
                                                    </font>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">únicos organelos
                                                            presentes en todo tipo de células. Poseen dos subunidades de
                                                            ácido ribonucleico ribosómico (ARNr). Su función es
                                                            sintetizar enzimas y otras sustancias proteicas.
                                                        </font>
                                                    </font>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li><strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Retículo
                                                                endoplasmático (RE)
                                                            </font>
                                                        </font>
                                                    </strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;"> : </font>
                                                    </font>
                                                    <font color="white">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">. </font>
                                                        </font>
                                                    </font>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">sistema de membranas que
                                                            transporta las proteínas. Se divide en RE rugoso, cuya
                                                            función es recibir las proteínas, y RE liso, cuya función es
                                                            crear membrana nueva.</font>
                                                    </font>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li><strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Aparato de Golgi
                                                            </font>
                                                        </font>
                                                    </strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;"> : </font>
                                                    </font>
                                                    <font color="white">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">. </font>
                                                        </font>
                                                    </font>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">formado por sacos
                                                            cercanos al núcleo. Su función es procesar las moléculas
                                                            transportadas por el RE y acumularlas en pequeñas vesículas
                                                            que liberan su contenido al exterior de la célula. </font>
                                                    </font>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li><strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Lisosomas
                                                            </font>
                                                        </font>
                                                    </strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;"> : </font>
                                                    </font>
                                                    <font color="white">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">. </font>
                                                        </font>
                                                    </font>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">constituidos por paredes
                                                            membranosas que forman “bolsas digestivas” al ponerse en
                                                            funcionamiento. Su papel es digerir el material que la
                                                            célula ingiere. </font>
                                                    </font>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li><strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Mitocondrias</font>
                                                        </font>
                                                    </strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;"> : </font>
                                                    </font>
                                                    <font color="white">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">. </font>
                                                        </font>
                                                    </font>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">son dos sacos membranosos
                                                            cuya función es producir energía para el trabajo celular
                                                            mediante reacciones químicas. Cada mitocondria tiene un
                                                            cromosoma mitocondrial, es decir, su propia célula de ADN.
                                                        </font>
                                                    </font>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li><strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Vacuola</font>
                                                        </font>
                                                    </strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;"> : </font>
                                                    </font>
                                                    <font color="white">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">. </font>
                                                        </font>
                                                    </font>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">compartimentos de las
                                                            células eucariotas vegetales que almacenan fluidos como agua
                                                            y pueden contener enzimas y nutrientes.
                                                        </font>
                                                    </font>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li><strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Plástidos</font>
                                                        </font>
                                                    </strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;"> : </font>
                                                    </font>
                                                    <font color="white">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">. </font>
                                                        </font>
                                                    </font>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">organelos solo presentes
                                                            en células vegetales. Se encargan de funciones como la
                                                            fotosíntesis, el almacenamiento de almidones y la síntesis
                                                            de diversos materiales.
                                                        </font>
                                                    </font>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li><strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Centríolos</font>
                                                        </font>
                                                    </strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;"> : </font>
                                                    </font>
                                                    <font color="white">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">. </font>
                                                        </font>
                                                    </font>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">pareja de organelos en
                                                            forma de bastón y cruzados entre sí cuya función es
                                                            participar en la división celular.
                                                        </font>
                                                    </font>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li><strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Flagelo</font>
                                                        </font>
                                                    </strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;"> : </font>
                                                    </font>
                                                    <font color="white">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">. </font>
                                                        </font>
                                                    </font>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">prolongación única de la
                                                            célula cuya función es facilitar su propulsión.
                                                        </font>
                                                    </font>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li><strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Cilios</font>
                                                        </font>
                                                    </strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;"> : </font>
                                                    </font>
                                                    <font color="white">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">. </font>
                                                        </font>
                                                    </font>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">prolongaciones finas y
                                                            múltiples sobre la superficie celular cuya función es
                                                            facilitar el desplazamiento de las células y los fluidos.
                                                        </font>
                                                    </font>
                                                </li>
                                            </ul>
                                            <h3><br style="padding: 0px;">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Explora más</font>
                                                </font>
                                            </h3>
                                            <p>
                                            <div class="pnum"><span data-count="7">7</span></div>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Use este recurso para
                                                    visualizar el citoplasma:</font>
                                            </font>
                                            </p>
                                            <figure class="video">
                                                <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/YGpUFaYs6i8" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </figure>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right" style="height: 2730px;">
                    </div>
                </div>
            </main>
        </div>
    </div>

</div>