<!-- Heading -->
<h1 class="display-4 text-center text-md-left" style="padding-left: 50px">
    <a class="nav-link" href="/tipos" style="font-size: 2.450rem;">
        <span class="text-primary"><i class="fas fa-angle-left"></i></span>
    </a>
</h1>

<div id="joyride"></div>
<div id="root" class="">
    <div role="alert" class="alertContainer" aria-live="polite"></div>
    <div id="app" class="layout reader noMainMenu publicExpanded fontMedium serifFont themeWhite bgWhite lessSpacing">

        <div id="content">
            <main id="theScroll" class="scroll">
                <div class="lrContainer on">
                    <div class="left" style="transition: width 0.5s ease 0s, max-width 0.5s ease 0s;">
                        <div class="textview view">
                            <div class="textGatingGate">
                                <div class="textGatingSizeSensor">
                                    <div class="textSectionContainer" data-textsectionid="1766914">
                                        <div class="textSection sourcedomain-activelylearn">
                                            <figure><img alt="" src="images/Dashboard/eucarioticas.png"
                                                    style="cursor: pointer;">
                                            </figure>
                                            <h3>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Eucarioticas</font>
                                                </font>
                                            </h3>
                                            <p>
                                            <div class="pnum"><span data-count="1">1</span></div>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> la célula eucariota posee una
                                                    estructura mucho más compleja.
                                                </font>
                                                <font style="vertical-align: inherit;"> Su núcleo
                                                    está rodeado de una membrana que lo protege y aísla del resto del
                                                    citoplasma, en cuyo
                                                </font>
                                                <font style="vertical-align: inherit;"> interior encontramos variadas
                                                    estructuras que cumplen diferentes funciones, como son los
                                                </font>
                                                <font style="vertical-align: inherit;"> cromosomas que contienen nuestra
                                                    información genética.
                                                </font>
                                                </p>
                                                <p>
                                                <div class="pnum"><span data-count="1">2</span></div>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> Los dos tipos básicos de
                                                        células eucariotas son la vegetal y la animal. Se diferencian
                                                        entre sí por
                                                    </font>
                                                    <font style="vertical-align: inherit;"> varias características,
                                                        tales como la presencia o ausencia de plástidos, organelos que
                                                        contienen
                                                    </font>
                                                    <font style="vertical-align: inherit;"> pigmentos fotosintéticos, y
                                                        la presencia o ausencia de una pared celular y una gran vacuola.
                                                    </font>
                                                    </p>
                                                    <h3><br style="padding: 0px;">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Explora más</font>
                                                        </font>
                                                    </h3>
                                                    <p>
                                                    <div class="pnum"><span data-count="7">7</span></div>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Use este recurso para
                                                            visualizar las celulas eucariotas:</font>
                                                    </font>
                                                    </p>
                                                    <figure class="video">
                                                        <iframe width="560" height="315"
                                                            src="https://www.youtube.com/embed/0tTJbBi3Zbw"
                                                            frameborder="0"
                                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                            allowfullscreen></iframe>
                                                    </figure>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right" style="height: 1650px;">
                    </div>
                </div>
            </main>
        </div>
    </div>

</div>