<!-- Heading -->
<h1 class="display-4 text-center text-md-left" style="padding-left: 50px">
    <a class="nav-link" href="/celula" style="font-size: 2.450rem;">
        <span class="text-primary"><i class="fas fa-angle-left"></i></span>
    </a>
</h1>

<div id="joyride"></div>
<div id="root" class="">
    <div role="alert" class="alertContainer" aria-live="polite"></div>
    <div id="app" class="layout reader noMainMenu publicExpanded fontMedium serifFont themeWhite bgWhite lessSpacing">

        <div id="content">
            <main id="theScroll" class="scroll">
                <div class="lrContainer on">
                    <div class="left" style="transition: width 0.5s ease 0s, max-width 0.5s ease 0s;">
                        <div class="textview view">
                            <div class="textGatingGate">
                                <div class="textGatingSizeSensor">
                                    <div class="textSummary readerpanel reactComponentMountedFromBackbone">
                                        <div class="jss7 wrapper">
                                            <div class="jss9 container"><span class="jss12 heading">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">El Origen del concepto de
                                                            célula </font>
                                                    </font>
                                                </span><span class="jss16"> <i class="fas fa-user"></i> </span>
                                                <div class="jss11 text">
                                                    <p>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">En el año 1665, un
                                                                científico llamado </font><span
                                                                class="notesTag    yellow " data-tagid="11119549"
                                                                data-startindex="165">
                                                                <font>Robert Hooke, </font>
                                                            </span>
                                                            <font style="vertical-align: inherit;"> utilizó la palabra
                                                                <span class="notesTag    yellow " data-tagid="11119549"
                                                                    data-startindex="165">
                                                                    <font> célula</font>
                                                                </span>
                                                                por primera vez. A través </font>
                                                            <font style="vertical-align: inherit;"> de un microscopio de
                                                                su propia fabricación, Hooke
                                                            </font>
                                                            <font style="vertical-align: inherit;"> examinó un trozo de
                                                                corcho y observó que parecía estar formado por pequeñas
                                                            </font>
                                                            <span class="notesTag    yellow " data-tagid="11119549"
                                                                data-startindex="165">
                                                                <font>celdillas</font>
                                                            </span>
                                                            <font style="vertical-align: inherit;"> rodeadas
                                                                de paredes rígidas. Por esa característica, decidió
                                                                llamar</font>
                                                            <span class="notesTag    yellow " data-tagid="11119549"
                                                                data-startindex="165">
                                                                <font>células</font>
                                                            </span>
                                                            <font style="vertical-align: inherit;"> a aquellas diminutas
                                                                estructuras.</font>
                                                        </font>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="preReadingQuestionContainer readerpanel">
                                        <div class="preReadingQuestion"></div>
                                    </div>
                                    <div class="textSectionContainer" data-textsectionid="1766914">
                                        <div class="textSection sourcedomain-activelylearn">
                                            <figure><img alt="" src="images/Dashboard/roberHook.png"
                                                    style="cursor: pointer;">
                                                <figcaption>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Robert Hook, Fisico
                                                            inglés 1635 - 1703</font>
                                                    </font>
                                                </figcaption>
                                            </figure>
                                            <p>
                                            <div class="pnum"><span data-count="1">1</span></div>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">En la actualidad, y gracias
                                                    a los avances y observaciones científicas, </font>
                                                <font style="vertical-align: inherit;">es posible reconocer que todas
                                                    las células comparten las mismas características biológicas, </font>
                                            </font>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">pues poseen
                                                    estructuras internas comunes a todas ellas; pueden reproducirse,
                                                    regular su nutrición, el transporte de energía y el intercambio de
                                                    sustancias con el medio. </font>
                                            </font>
                                            </p>
                                            <h3><br style="padding: 0px;">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Explora más</font>
                                                </font>
                                            </h3>
                                            <p>
                                            <div class="pnum"><span data-count="7">7</span></div>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Use este recurso para
                                                    visualizar celdas:</font>
                                            </font>
                                            </p>
                                            <figure class="video">
                                                {{!-- <iframe frameborder="0" src="https://youtu.be/bXVAc38JXYM">
                                                </iframe> --}}
                                                <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/bXVAc38JXYM" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </figure>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right" style="height: 1550px;">
                    </div>
                </div>
            </main>
        </div>
    </div>

</div>