<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="stylesheets/Dashboard/global.css">
    <link rel="stylesheet" href="fonts/font-awesome.css">
    <link href="stylesheets/Home/styles.css" rel="stylesheet" type="text/css">
    <!-- Theme js -->
    <script src="javascript/Home/fontawesome.js"></script>
    <!-- Titulo -->
    <title>Células: aprender activamente</title>
    <!-- Icono barra de navegacion -->
    <link rel="icon" href="images/Home/Logo BarraNavegacion.png">
</head>

<body
    class="no-touch enablePrint paidUser v2reader page-teacher page-teacher-reader page-teacher-reader-authoring page-teacher-reader-authoring-preview page-teacher-reader-authoring-preview-749460 page-teacher-reader-authoring-preview-749460-notes pageReader"
    ontouchstart="">
    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img src="images/Home/Logo WebPlants.png" class="navbar-brand-img" alt="...">
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item mr-4 mb-2 mb-lg-0">
                        <a href="/home" class="nav-link">
                            <span><i class="fas fa-home u-font-size-80 mr-1"></i> Home </span>
                        </a>
                    </li>
                    <li class="nav-item active mr-4 mb-2 mb-lg-0">
                        <a class="nav-link" href="/tematica">
                            <i class="fas fa-microscope u-font-size-80 mr-1"></i> Tematica
                        </a>
                    </li>
                    <li class="nav-item mr-4 mb-2 mb-lg-0">
                        <a class="nav-link" href="#">
                            <i class="fas fa-book-open u-font-size-80 mr-1"></i> Evaluación
                        </a>
                    </li>
                    <li class="nav-item mr-4 mb-2 mb-lg-0">
                        <a class="nav-link" href="#">
                            <i class="fas fa-book u-font-size-80 mr-1"></i> Blog
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Heading -->
    <h1 class="display-4 text-center text-md-left" style="padding-left: 50px">
        <a class="nav-link" href="/contenido">
            <span class="text-primary"><i class="fas fa-angle-left"></i></span>
        </a>
    </h1>

    <div id="joyride"></div>
    <div id="root" class="">
        <div role="alert" class="alertContainer" aria-live="polite"></div>
        <div id="app"
            class="layout reader noMainMenu publicExpanded fontMedium serifFont themeWhite bgWhite lessSpacing">

            <div id="content">
                <aside aria-label="ventanas emergentes de información de asignación">
                    <div class="progress"></div>
                    <div class="rubricContainer readerSidePopupContainer"></div>
                    <div class="modelResponsePopup readerSidePopupContainer"></div>
                    <div class="responseGradingTagsContainer readerSidePopupContainer"></div>
                </aside>
                <main id="theScroll" class="scroll">
                    <div class="lrContainer on">
                        <div class="left" style="transition: width 0.5s ease 0s, max-width 0.5s ease 0s;">
                            <div class="textview view">
                                <div class="textGatingGate">
                                    <div class="textGatingSizeSensor">

                                        <div class="previous icon-arrowup readerpanel" style="display: none;"></div>


                                        <div class="instructions readerpanel authoring firstSection"
                                            style="display: block;">
                                            <div class="container ">
                                                <span class="heading">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Direcciones de asignación
                                                        </font>
                                                    </font>
                                                </span>
                                                <div class="questionTagText">
                                                    <p>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Mientras lees, piensa
                                                                en lo siguiente: ¿por qué el estudio de las células es
                                                                tan fundamental para la biología, el estudio de la
                                                                vida?&nbsp;</font>
                                                        </font>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="textSummary readerpanel reactComponentMountedFromBackbone">
                                            <div class="jss7 wrapper">
                                                <div class="jss9 container"><span class="jss12 heading">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Resumen de texto de
                                                                ayuda adicional </font>
                                                        </font>
                                                    </span><span class="jss16"> <i class="fas fa-user"></i> </span>
                                                    <div class="jss11 text">
                                                        <p>
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Las células son
                                                                    la unidad más pequeña de organismos vivos. </font>
                                                                <font style="vertical-align: inherit;">Algunos
                                                                    organismos, como las bacterias, están formados por
                                                                    una célula. </font>
                                                                <font style="vertical-align: inherit;">Otros organismos,
                                                                    como los humanos, están formados por muchas células.
                                                                </font>
                                                                <font style="vertical-align: inherit;">Todas las células
                                                                    tienen estructuras similares. </font>
                                                                <font style="vertical-align: inherit;">Comprender la
                                                                    estructura y la función de una célula es parte
                                                                    integral de muchas áreas de la ciencia.</font>
                                                            </font>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="preReadingQuestionContainer readerpanel">
                                            <div class="preReadingQuestion"></div>
                                        </div>
                                        <div class="textSectionContainer" data-textsectionid="1766914">
                                            <div class="textSection sourcedomain-activelylearn">
                                                <figure><img alt="" src="images/Dashboard/cell.png"
                                                        style="cursor: pointer;">
                                                    <figcaption>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">¿Por qué es una
                                                                célula tan compleja?</font>
                                                        </font>
                                                    </figcaption>
                                                </figure>
                                                <p>
                                                <div class="pnum"><span data-count="1">1</span></div>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Las células tienen muchas
                                                        cosas que hacer. </font>
                                                    <font style="vertical-align: inherit;">Algunas células forman
                                                        todo el organismo, por lo que una célula debe hacer todo lo
                                                        que el organismo necesita para vivir. </font>
                                                </font><span class="notesTag    yellow " data-tagid="11119549"
                                                    data-startindex="165">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Otras células
                                                            realizan funciones específicas, por lo que deben
                                                            diseñarse para realizar esa actividad específica.</font>
                                                    </font>
                                                </span>
                                                </p>
                                                <h3>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Introducción a las
                                                            células</font>
                                                    </font>
                                                </h3>
                                                <p>
                                                <div class="pnum"><span data-count="2">2</span></div>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">La </font>
                                                </font><strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">célula</font>
                                                    </font>
                                                </strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> es la unidad más pequeña
                                                        de estructura y función de todos los organismos vivos.
                                                    </font>
                                                    <font style="vertical-align: inherit;">Una célula también es la
                                                        unidad de vida más pequeña, con organismos unicelulares
                                                        presentes en este planeta durante más de 3.500 millones de
                                                        años. </font>
                                                    <font style="vertical-align: inherit;">Los organismos
                                                        unicelulares ( </font>
                                                </font><strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">unicelulares</font>
                                                    </font>
                                                </strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> ) como las bacterias
                                                        obviamente están compuestos de una sola célula, mientras que
                                                    </font>
                                                </font><strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">los organismos
                                                            multicelulares</font>
                                                    </font>
                                                </strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> pueden estar compuestos
                                                        por billones de </font>
                                                </font><span class="notesTag    blue " data-tagid="14172651"
                                                    data-startindex="642">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">células. </font>
                                                    </font>
                                                </span>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Los organismos
                                                        multicelulares incluyen protistas (aunque también existen
                                                        protistas unicelulares), </font>
                                                </font><a>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">hongos</font>
                                                    </font>
                                                </a>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> , plantas y animales.
                                                    </font>
                                                    <font style="vertical-align: inherit;">La mayoría de las células
                                                        vegetales y animales tienen entre 1 y 100 µm y, por lo
                                                        tanto, solo pueden observarse bajo el microscopio.</font>
                                                </font>
                                                </p>
                                                <p>
                                                <div class="pnum"><span data-count="3">3</span></div>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">La célula de un organismo
                                                        unicelular debe ser capaz de realizar todas las funciones
                                                        necesarias para la vida. </font>
                                                    <font style="vertical-align: inherit;">Estas funciones incluyen
                                                        metabolismo, </font>
                                                </font><a>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">homeostasis</font>
                                                    </font>
                                                </a>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> y reproducción. </font>
                                                    <font style="vertical-align: inherit;">Específicamente, estas
                                                        células individuales deben transportar materiales, obtener y
                                                        usar </font>
                                                </font><a>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">energía</font>
                                                    </font>
                                                </a>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> , desechar desechos y
                                                        responder continuamente a su entorno. </font>
                                                    <font style="vertical-align: inherit;">Las células de un
                                                        organismo multicelular también realizan estas funciones,
                                                        pero pueden hacerlo en colaboración con otras células.
                                                    </font>
                                                </font>
                                                <div class="pnum"><span data-count="4">4</span></div>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Las células son
                                                        esencialmente </font>
                                                </font><a>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">carbohidratos</font>
                                                    </font>
                                                </a>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> , </font>
                                                </font><a>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">lípidos</font>
                                                    </font>
                                                </a>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> , </font>
                                                </font><a>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">proteínas</font>
                                                    </font>
                                                </a>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> y </font>
                                                </font><a>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">ácidos nucleicos
                                                        </font>
                                                    </font>
                                                </a>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> en un </font>
                                                    <font style="vertical-align: inherit;">ambiente a base de
                                                    </font>
                                                </font><a>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">agua</font>
                                                    </font>
                                                </a>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> . </font>
                                                    <font style="vertical-align: inherit;">Es la </font>
                                                </font><span class="notesTag    blue " data-tagid="14172656"
                                                    data-startindex="1418">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">membrana de lípidos
                                                            (fosfolípidos)</font>
                                                    </font>
                                                </span>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> que mantiene el ambiente
                                                        a base de agua en la célula separado del ambiente a base de
                                                        agua fuera de la célula. </font>
                                                    <font style="vertical-align: inherit;">Pero una célula, incluso
                                                        la célula individual de un organismo unicelular, debe poder
                                                        interactuar con su entorno externo. </font>
                                                    <font style="vertical-align: inherit;">La célula debe poder
                                                        traer moléculas desde el exterior y expulsar los productos
                                                        de desecho no deseados. </font>
                                                    <font style="vertical-align: inherit;">Conocer los componentes
                                                        de las células y cómo funcionan las células es necesario
                                                        para todas las ciencias biológicas.</font>
                                                </font>
                                                <div class="pnum"><span data-count="5">5</span></div>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Aprender sobre las
                                                        similitudes y diferencias entre los tipos de células es
                                                        particularmente importante para los campos de </font>
                                                </font><a>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">la biología celular
                                                        </font>
                                                    </font>
                                                </a>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> y la biología molecular.
                                                    </font>
                                                </font><strong>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">La biología celular
                                                        </font>
                                                    </font>
                                                </strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> es el campo de la
                                                        biología que estudia las células. </font>
                                                    <font style="vertical-align: inherit;">En particular, los
                                                        biólogos celulares estudian las propiedades fisiológicas de
                                                        una célula, estructura, </font><strong><span
                                                            class="notesTag    orange " data-tagid="11119552"
                                                            data-startindex="2156">
                                                            <font style="vertical-align: inherit;">orgánulos</font>
                                                        </span></strong>
                                                    <font style="vertical-align: inherit;"> , </font>
                                                    <font color="white">
                                                        <font style="vertical-align: inherit;">. </font>
                                                    </font>
                                                    <font style="vertical-align: inherit;">interacciones con el
                                                        entorno extracelular, ciclo de vida, división y muerte.
                                                    </font><strong>
                                                        <font style="vertical-align: inherit;">La biología molecular
                                                            se</font>
                                                    </strong>
                                                    <font style="vertical-align: inherit;"> ocupa de comprender las
                                                        interacciones entre los diversos sistemas de una célula,
                                                        incluidas las relaciones entre el </font><a>
                                                        <font style="vertical-align: inherit;">ADN</font>
                                                    </a>
                                                    <font style="vertical-align: inherit;"> , el </font><a>
                                                        <font style="vertical-align: inherit;">ARN</font>
                                                    </a>
                                                    <font style="vertical-align: inherit;"> y las </font><a>
                                                        <font style="vertical-align: inherit;">proteínas</font>
                                                    </a>
                                                    <font style="vertical-align: inherit;"> .</font>
                                                </font><strong><span class="notesTag    orange " data-tagid="11119552"
                                                        data-startindex="2156">
                                                        <font style="vertical-align: inherit;"></font>
                                                    </span></strong>
                                                <font style="vertical-align: inherit;"></font>
                                                <font color="white">
                                                    <font style="vertical-align: inherit;"></font>
                                                </font>
                                                <font style="vertical-align: inherit;"></font><strong>
                                                    <font style="vertical-align: inherit;"></font>
                                                </strong>
                                                <font style="vertical-align: inherit;"></font><a>
                                                    <font style="vertical-align: inherit;"></font>
                                                </a>
                                                <font style="vertical-align: inherit;"></font><a>
                                                    <font style="vertical-align: inherit;"></font>
                                                </a>
                                                <font style="vertical-align: inherit;"></font><a>
                                                    <font style="vertical-align: inherit;"></font>
                                                </a>
                                                <font style="vertical-align: inherit;"></font>
                                                </p>
                                                <p>
                                                <div class="pnum"><span data-count="6">6</span></div>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">La investigación en
                                                    </font>
                                                </font><a>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">biología celular
                                                        </font>
                                                    </font>
                                                </a>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> está estrechamente
                                                        vinculada a la biología molecular, así como a la genética,
                                                        la bioquímica y la biología del desarrollo. </font>
                                                    <font style="vertical-align: inherit;">La importancia de las
                                                        similitudes y diferencias entre los tipos de células es un
                                                        tema unificador en biología. </font>
                                                    <font style="vertical-align: inherit;">Permiten que se apliquen
                                                        los principios aprendidos al estudiar un tipo de célula al
                                                        aprender sobre otros tipos de células. </font>
                                                    <font style="vertical-align: inherit;">Por ejemplo, aprender
                                                        cómo funcionan las bacterias unicelulares puede ayudarnos a
                                                        comprender más sobre cómo funcionan las células humanas.
                                                    </font>
                                                    <font style="vertical-align: inherit;">Comprender los procesos
                                                        celulares básicos, como </font>
                                                </font><a>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">la división celular
                                                        </font>
                                                    </font>
                                                </a>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> o el metabolismo en las
                                                        bacterias, brinda información sobre procesos similares en
                                                        nuestras células.</font>
                                                </font>
                                                </p>
                                                <h3>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Vocabulario</font>
                                                    </font><br style="padding: 0px;">
                                                </h3><br style="padding: 0px;">
                                                <ul>
                                                    <li><strong>
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">celular</font>
                                                            </font>
                                                        </strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"> : </font>
                                                        </font>
                                                        <font color="white">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">. </font>
                                                            </font>
                                                        </font>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">La unidad básica de
                                                                estructura y función de todos los organismos vivos.
                                                            </font>
                                                        </font>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><strong>
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">biología celular
                                                                </font>
                                                            </font>
                                                        </strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"> : </font>
                                                        </font>
                                                        <font color="white">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">. </font>
                                                            </font>
                                                        </font>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">El campo de la
                                                                biología que estudia las células.</font>
                                                        </font>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><strong>
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">biología
                                                                    molecular</font>
                                                            </font>
                                                        </strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"> : </font>
                                                        </font>
                                                        <font color="white">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">. </font>
                                                            </font>
                                                        </font>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">El campo de la
                                                                biología que se ocupa de las bases moleculares de la
                                                                actividad biológica; </font>
                                                            <font style="vertical-align: inherit;">El estudio de las
                                                                moléculas que forman los organismos vivos.</font>
                                                        </font>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><strong>
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">organismo
                                                                    multicelular</font>
                                                            </font>
                                                        </strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"> : </font>
                                                        </font>
                                                        <font color="white">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">. </font>
                                                            </font>
                                                        </font>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Organismo compuesto
                                                                por más de un tipo de célula; </font>
                                                            <font style="vertical-align: inherit;">la mayoría tienen
                                                                células especializadas que se agrupan para llevar a cabo
                                                                funciones especializadas.</font>
                                                        </font>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><strong>
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">orgánulo</font>
                                                            </font>
                                                        </strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"> : </font>
                                                        </font>
                                                        <font color="white">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">. </font>
                                                            </font>
                                                        </font>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Una estructura dentro
                                                                del citoplasma de una célula; </font>
                                                            <font style="vertical-align: inherit;">puede estar encerrado
                                                                dentro de una membrana; </font>
                                                            <font style="vertical-align: inherit;">realiza una función
                                                                específica</font>
                                                        </font>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><strong>
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">organismo
                                                                    unicelular</font>
                                                            </font>
                                                        </strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"> : </font>
                                                        </font>
                                                        <font color="white">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">. </font>
                                                            </font>
                                                        </font>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Un organismo que
                                                                consta de una sola célula; </font>
                                                            <font style="vertical-align: inherit;">También conocido como
                                                                un organismo unicelular.</font>
                                                        </font>
                                                    </li>
                                                </ul>
                                                <h3><br style="padding: 0px;">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Resumen</font>
                                                    </font>
                                                </h3><br style="padding: 0px;">
                                                <ul>
                                                    <li>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Una célula es la
                                                                unidad más pequeña de estructura y función de todos los
                                                                organismos vivos.</font>
                                                        </font>
                                                    </li>
                                                    <li>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">La comprensión de las
                                                                células es parte integral de otros campos biológicos,
                                                                incluida la biología molecular, la genética, la
                                                                bioquímica y la biología del desarrollo.</font>
                                                        </font>
                                                    </li>
                                                </ul>
                                                <h3><br style="padding: 0px;">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Explora más</font>
                                                    </font>
                                                </h3>
                                                <p>
                                                <div class="pnum"><span data-count="7">7</span></div>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Use este recurso para
                                                        visualizar celdas:</font>
                                                </font>
                                                </p>
                                                <ul>
                                                    <li><strong>
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Introducción a
                                                                    las celdas</font>
                                                            </font>
                                                        </strong>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"> en </font>
                                                        </font><a>
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">
                                                                    http://www.youtube.com/watch?v=gFuEo2ccTPA</font>
                                                            </font>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <figure class="video"><iframe frameborder="0"
                                                        src="https://www.youtube.com/embed/gFuEo2ccTPA?rel=0&amp;wmode=transparent"></iframe>
                                                </figure>
                                            </div>
                                            <div class="endSectionQuestions sameLocationQuestionsContainer"></div>

                                        </div>


                                    </div>
                                </div>
                                <div class="popupMenu">
                                    <ul class="dropdown-menu" id="popupMenuDropdown">

                                        <li>
                                            <a class="btninsertquestion" data-disabledclickmsg="">
                                                Insert question
                                            </a>
                                        </li>

                                        <li>
                                            <a class="btninsertnote" data-disabledclickmsg="">
                                                Insert note
                                            </a>
                                        </li>

                                        <li>
                                            <a class="btninsertlink" data-disabledclickmsg="">
                                                Insert link
                                            </a>
                                        </li>

                                        <li>
                                            <a class="btnwhiteout" data-disabledclickmsg="">
                                                Whiteout
                                            </a>
                                        </li>

                                        <li>
                                            <a class="btndefine" data-disabledclickmsg="">
                                                Define
                                            </a>
                                        </li>

                                        <li>
                                            <a class="btnmovequestionhere" data-disabledclickmsg="">
                                                Move question here
                                            </a>
                                        </li>

                                        <li>
                                            <a class="btncancel" data-disabledclickmsg="">
                                                Cancel
                                            </a>
                                        </li>

                                        <li>
                                            <a class="btnenlarge" data-disabledclickmsg="">
                                                Enlarge
                                            </a>
                                        </li>

                                        <li>
                                            <a class="btnreplacehighlightedtext" data-disabledclickmsg="">
                                                Replace highlighted text
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="notesview view" id="notesView" style="height: 4030px;">
                                <div class="toggleWrapper fix">

                                </div>
                                <div class="teachingIdeas">
                                    <h1 class="heading">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Ideas para enseñar este texto</font>
                                        </font>
                                    </h1>
                                    <div class="overallIdea">
                                        <p><b>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Conceptos transversales:
                                                        estructura y función:</font>
                                                </font>
                                            </b>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> la estructura de una celda y sus
                                                    orgánulos respaldan su función. </font>
                                                <font style="vertical-align: inherit;">Anime a los estudiantes a pensar
                                                    en este concepto mientras leen y discuten la celda.</font>
                                            </font>
                                        </p>
                                        <p><b>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Vocabulario clave: las&nbsp;
                                                    </font>
                                                </font>
                                            </b>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> células son la unidad más básica
                                                    de la vida. </font>
                                                <font style="vertical-align: inherit;">Previsualice el siguiente
                                                    vocabulario con los alumnos antes de leer. </font>
                                                <font style="vertical-align: inherit;">Enfatice las raíces griegas y
                                                    cómo pueden usarse para determinar el significado de una palabra
                                                    (por ejemplo, "multi" significa "muchos" y "uni" significa "uno")
                                                </font>
                                            </font>
                                        </p>
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">célula - la unidad de vida básica
                                                    más pequeña</font>
                                            </font>
                                        </p>
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">orgánulo - una estructura dentro
                                                    de una celda que realiza una función específica</font>
                                            </font>
                                        </p>
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">multicelular: un organismo
                                                    compuesto por más de una célula (el prefijo "multi" significa
                                                    muchas)</font>
                                            </font>
                                        </p>
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">unicelular: un organismo formado
                                                    por una célula (el prefijo "uni" significa uno)</font>
                                            </font>
                                        </p>
                                        <p><br></p>
                                        <p><br></p>
                                    </div>

                                    <h1 class="heading">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Asignaciones relacionadas</font>
                                        </font>
                                    </h1>

                                    <ul>

                                        <li>
                                            <span class="layerHelperText">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">A continuación, explore qué
                                                        estructuras tienen en común las células:</font>
                                                </font>
                                            </span>
                                            <a class="layerLink" href="#teacher/reader/authoring/preview/514196/notes"
                                                target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Partes comunes de la célula
                                                    </font>
                                                </font>
                                            </a>
                                        </li>

                                        <li>
                                            <span class="layerHelperText">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Modele cómo se replican las
                                                        células y los desafíos que enfrentan durante la replicación:
                                                    </font>
                                                </font>
                                            </span>
                                            <a class="layerLink" href="#teacher/reader/authoring/preview/628518/notes"
                                                target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Investigación: división
                                                        celular</font>
                                                </font>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="noteTagContainer note yellow " data-tagid="11119549" data-startindex="165"
                                    style="top: 1261px;">
                                    <div class="inner">
                                        <div class="userNameContainer">
                                            <span class="username">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Señor zambrano</font>
                                                </font>
                                            </span>
                                            <span class="usernameShort">Mr. Zambrano</span>

                                            <div class="replyCount displayNone">
                                                <span class="icon-comment no-hover"></span>
                                                <span class="num">0</span>
                                            </div>


                                        </div>



                                        <div class="noteTagText">
                                            <span class="displayPrint" style="display: none;">
                                                <p>For example, your skin is made of cells designed to protect your body
                                                    from harmful substances, whereas your red blood cells are designed
                                                    to carry oxygen molecules. While they look similar in many ways,
                                                    these cells have differences that enable them to perform their
                                                    specific duties.&nbsp;</p>
                                            </span>
                                            <span class="displayScreen">
                                                <p>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Por ejemplo, su piel está
                                                            hecha de células diseñadas para proteger su cuerpo de
                                                            sustancias nocivas, mientras que sus glóbulos rojos están
                                                            diseñados para transportar moléculas de oxígeno. </font>
                                                        <font style="vertical-align: inherit;">Mientras se ven similares
                                                            en el hombre ...
                                                        </font>
                                                    </font>
                                                </p>
                                            </span></div>
                                        <div class="noteTagHtml displayNone"></div>


                                    </div>
                                </div>
                                <div class="noteTagContainer note blue " data-tagid="14172651" data-startindex="642"
                                    style="top: 1628px;">
                                    <div class="inner">
                                        <div class="userNameContainer">
                                            <span class="username">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Señor zambrano</font>
                                                </font>
                                            </span>
                                            <span class="usernameShort">Mr. Zambrano</span>

                                            <div class="replyCount displayNone">
                                                <span class="icon-comment no-hover"></span>
                                                <span class="num">0</span>
                                            </div>


                                        </div>



                                        <div class="noteTagText">
                                            <span class="displayPrint" style="display: none;">
                                                <p>Organisms can be composed of one cell or trillions of cells.
                                                    Regardless, every living thing is made up of cells.</p>
                                            </span>
                                            <span class="displayScreen">
                                                <p>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Los organismos pueden
                                                            estar compuestos de una célula o billones de células.
                                                        </font>
                                                        <font style="vertical-align: inherit;">En cualquier caso, cada
                                                            ser vivo está formado por células.</font>
                                                    </font>
                                                </p>
                                            </span>
                                        </div>
                                        <div class="noteTagHtml displayNone"></div>


                                    </div>
                                </div>
                                <div class="noteTagContainer note blue " data-tagid="14172656" data-startindex="1418"
                                    style="top: 2812px;">
                                    <div class="inner">
                                        <div class="userNameContainer">
                                            <span class="username">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Señor zambrano</font>
                                                </font>
                                            </span>
                                            <span class="usernameShort">Mr. Zambrano</span>

                                            <div class="replyCount displayNone">
                                                <span class="icon-comment no-hover"></span>
                                                <span class="num">0</span>
                                            </div>


                                        </div>



                                        <div class="noteTagText">
                                            <span class="displayPrint" style="display: none;">
                                                <p>The cell is surrounded by a protective layer, called the plasma
                                                    membrane, that chooses what gets let in and out of the cell.&nbsp;
                                                </p>
                                            </span>
                                            <span class="displayScreen">
                                                <p>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">La célula está rodeada
                                                            por una capa protectora, llamada membrana plasmática, que
                                                            elige lo que se deja entrar y salir de la célula.&nbsp;
                                                        </font>
                                                    </font>
                                                </p>
                                            </span>
                                        </div>
                                        <div class="noteTagHtml displayNone"></div>


                                    </div>
                                </div>
                                <div class="noteTagContainer note orange " data-tagid="11119552" data-startindex="2156"
                                    style="top: 4020px;">
                                    <div class="inner">
                                        <div class="userNameContainer">
                                            <span class="username">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Señor zambrano</font>
                                                </font>
                                            </span>
                                            <span class="usernameShort">Mr. Zambrano</span>

                                            <div class="replyCount displayNone">
                                                <span class="icon-comment no-hover"></span>
                                                <span class="num">0</span>
                                            </div>


                                        </div>



                                        <div class="noteTagText">
                                            <span class="displayPrint" style="display: none;">
                                                <p>A cell has many organelles, or specialized structures that carry out
                                                    specific tasks. Organelles include the nucleus, mitochondria, and
                                                    lysosomes, which will be covered in later sections. </p>
                                            </span>
                                            <span class="displayScreen">
                                                <p>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Una célula tiene muchos
                                                            orgánulos o estructuras especializadas que realizan tareas
                                                            específicas. </font>
                                                        <font style="vertical-align: inherit;">Los orgánulos incluyen el
                                                            núcleo, las mitocondrias y los lisosomas, que se cubrirán en
                                                            secciones posteriores.</font>
                                                    </font>
                                                </p>
                                            </span>
                                        </div>
                                        <div class="noteTagHtml displayNone"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

    </div>
</body>

</html>