<!-- Heading -->
<h1 class="display-4 text-center text-md-left" style="padding-left: 50px">
    <a class="nav-link" href="/partes" style="font-size: 2.450rem;">
        <span class="text-primary"><i class="fas fa-angle-left"></i></span>
    </a>
</h1>

<div id="joyride"></div>
<div id="root" class="">
    <div role="alert" class="alertContainer" aria-live="polite"></div>
    <div id="app" class="layout reader noMainMenu publicExpanded fontMedium serifFont themeWhite bgWhite lessSpacing">

        <div id="content">
            <main id="theScroll" class="scroll">
                <div class="lrContainer on">
                    <div class="left" style="transition: width 0.5s ease 0s, max-width 0.5s ease 0s;">
                        <div class="textview view">
                            <div class="textGatingGate">
                                <div class="textGatingSizeSensor">
                                    <div class="textSectionContainer" data-textsectionid="1766914">
                                        <div class="textSection sourcedomain-activelylearn">
                                            <figure><img alt="" src="images/Dashboard/membrana.jpg"
                                                    style="cursor: pointer;">
                                            </figure>
                                            <h3>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Membrana celular</font>
                                                </font>
                                            </h3>
                                            <p>
                                            <div class="pnum"><span data-count="1">1</span></div>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Todas las células tienen membrana
                                                    plasmática, conocida también como membrana celular o plasmalema. La
                                                    membrana es el límite de la célula.
                                                </font>
                                            </font>
                                            </p>
                                            <h3>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Función de la membrana
                                                        celular</font>
                                                </font>
                                            </h3>

                                            <ul>
                                                <li>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Mantener estable a la
                                                            célula.</font>
                                                    </font>
                                                </li>
                                                <li>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Elegir las moléculas que
                                                            entran o salen de ella.</font>
                                                    </font>
                                                </li>
                                                <li>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Establecer la
                                                            comunicación con otras células.</font>
                                                    </font>
                                                </li>
                                            </ul>
                                            <h3><br style="padding: 0px;">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Explora más</font>
                                                </font>
                                            </h3>
                                            <p>
                                            <div class="pnum"><span data-count="7">7</span></div>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Use este recurso para
                                                    visualizar la membrana celular:</font>
                                            </font>
                                            </p>
                                            <figure class="video">
                                                <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/5FbRk07MWRU" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen>
                                                </iframe>
                                            </figure>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right" style="height: 1450px;">
                    </div>
                </div>
            </main>
        </div>
    </div>

</div>