<div class="row" style="margin-top: 125px; margin-left: 20px; margin-right: 20px;">

    <div class="col-xl-4 col-lg-5">
        <div class="card text-center">
            <div class="card-body">
                <div class="col-md-4 col-xl-12">
                    <h4 class="mt-0 display-6 text-center text-md-center">
                        <div class="card-widgets" style="float: left; color: #506690">
                            <a href="/tematica" style="-webkit-text-stroke: thick;"><i
                                    class="fas fa-angle-left"></i></i></a>
                        </div>
                        <span class="text-title text-primary">La Célula</span>
                    </h4>
                    <!-- project card -->
                    <div class="card d-block">
                        <!-- project-thumbnail -->
                        <img class="card-img-top" src="/images/Dashboard/celula.jpg" alt="project image cap">
                    </div> <!-- end card-->
                    <p class="mt-0">
                        <span class="text-title">Descubre algunas de las características de la célula.</span>
                    </p>
                </div> <!-- end col -->

            </div> <!-- end card-body -->
        </div> <!-- end card -->

    </div> <!-- end col-->

    <div class="col-xl-8 col-lg-7" style="height: 800px;">
        <div class="card">
            <div class="card-body">
                <h1 class="display-6 text-center text-md-center">
                    <span class="text-primary">Mis contenidos</span>
                </h1>
                <div class="row">
                    <div class="col-md-6 col-xl-6">
                        <!-- project card -->
                        <div class="card d-block">
                            <!-- project-thumbnail -->
                            <img class="card-img-top" src="/images/Dashboard/historia1.jpg" alt="project image cap">
                            <div class="card-img-overlay">
                                <h4 class="display-6 text-center text-md-center" style="margin-top: 50px;">
                                    <span class="text-primary">La Célula</span>
                                </h4>
                                <div class="badge badge-success p-1"><a class="text-historia"
                                        style="text-decoration: none; " href="/celula">Ver</a>
                                </div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col -->

                    <div class="col-md-6 col-xl-6">
                        <!-- project card -->
                        <div class="card d-block">
                            <!-- project-thumbnail -->
                            <img class="card-img-top" src="/images/Dashboard/concepto1.jpg" alt="project image cap">
                            <div class="card-img-overlay">
                                <h4 class="display-6 text-center text-md-center"
                                    style="margin-top: 50px; margin-bottom: 4px;">
                                    <span class="text-primary">Partes</span>
                                </h4>
                                <div class="badge badge-success p-1-2">Ver</div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                    <div class="col-md-4 col-xl-6">
                        <!-- project card -->
                        <div class="card d-block">
                            <!-- project-thumbnail -->
                            <img class="card-img-top" src="/images/Dashboard/celulavegetal1.jpg"
                                alt="project image cap">
                            <div class="card-img-overlay">
                                <h4 class="display-6 text-center text-md-center"
                                    style="margin-top: 45px; margin-bottom: 4px;">
                                    <span class="text-primary">Tipos</span>
                                </h4>
                                <div class="badge badge-success p-1-3">Ver</div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col -->

                    <div class="col-md-4 col-xl-6">
                        <!-- project card -->
                        <div class="card d-block">
                            <!-- project-thumbnail -->
                            <img class="card-img-top" src="/images/Dashboard/celulanimal1.jpg" alt="project image cap">
                            <div class="card-img-overlay">
                                <h4 class="display-6 text-center text-md-center"
                                    style="margin-top: 46px; margin-bottom: 4px;">
                                    <span class="text-primary">Actividad</span>
                                </h4>
                                <div class="badge badge-success p-1-4">Ver</div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
            </div><!-- end card body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>

</div>