<!-- Heading -->
<h1 class="display-4 text-center text-md-left" style="padding-left: 50px">
    <a class="nav-link" href="/tipos" style="font-size: 2.450rem;">
        <span class="text-primary"><i class="fas fa-angle-left"></i></span>
    </a>
</h1>

<div id="joyride"></div>
<div id="root" class="">
    <div role="alert" class="alertContainer" aria-live="polite"></div>
    <div id="app" class="layout reader noMainMenu publicExpanded fontMedium serifFont themeWhite bgWhite lessSpacing">

        <div id="content">
            <main id="theScroll" class="scroll">
                <div class="lrContainer on">
                    <div class="left" style="transition: width 0.5s ease 0s, max-width 0.5s ease 0s;">
                        <div class="textview view">
                            <div class="textGatingGate">
                                <div class="textGatingSizeSensor">
                                    <div class="textSectionContainer" data-textsectionid="1766914">
                                        <div class="textSection sourcedomain-activelylearn">
                                            <figure><img alt="" src="images/Dashboard/procariotas.jpg"
                                                    style="cursor: pointer;">
                                            </figure>
                                            <h3>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Procariotas</font>
                                                </font>
                                            </h3>
                                            <p>
                                            <div class="pnum"><span data-count="1">1</span></div>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> Su material genético está
                                                    flotando libremente en el citoplasma, sin una membrana que lo
                                                    envuelva.
                                                </font>
                                                <font style="vertical-align: inherit;"> No tiene orgánulos. Tan solo
                                                    posee ribosomas, fundamentales en la síntesis de proteínas.
                                                </font>
                                                <font style="vertical-align: inherit;"> Este tipo de células es propio
                                                    de organismos como las bacterias.
                                                </font>
                                            </font>
                                            </p>
                                            <h3><br style="padding: 0px;">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Explora más</font>
                                                </font>
                                            </h3>
                                            <p>
                                            <div class="pnum"><span data-count="7">7</span></div>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Use este recurso para
                                                    visualizar las celulas procariotas:</font>
                                            </font>
                                            </p>
                                            <figure class="video">
                                                <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/vhHlWwFZakM" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </figure>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right" style="height: 1250px;">
                    </div>
                </div>
            </main>
        </div>
    </div>

</div>