<div class="row" style="margin-top: 125px; margin-left: 20px; margin-right: 20px;">

    <div class="col-xl-4 col-lg-5">
        <div class="card text-center">
            <div class="card-body">
                <div class="col-md-4 col-xl-12">
                    <h4 class="mt-0 display-6 text-center text-md-center">
                        <div class="card-widgets" style="float: left; color: #506690">
                            <a href="/contenido" style="-webkit-text-stroke: thick;"><i
                                    class="fas fa-angle-left"></i></i></a>
                        </div>
                        <span class="text-title text-primary">Clasificación de la célula</span>
                    </h4>
                    <!-- project card -->
                    <div class="card d-block">
                        <!-- project-thumbnail -->
                        <img class="card-img-top" src="/images/Dashboard/clasificacion.jpg" alt="project image cap">
                    </div> <!-- end card-->
                    <p class="mt-0">
                        <span class="text-title">Se diferencian por su estructura, originando dos tipos de células:</span>
                    </p>
                </div> <!-- end col -->

            </div> <!-- end card-body -->
        </div> <!-- end card -->

    </div> <!-- end col-->

    <div class="col-xl-8 col-lg-7" style="height: 800px;">
        <div class="card">
            <div class="card-body">
                <h1 class="display-6 text-center text-md-center">
                    <span class="text-primary">Lecciones</span>
                </h1>
                <div class="row">
                    <div class="col-md-6 col-xl-6">
                        <!-- project card -->
                        <div class="card d-block">
                            <!-- project-thumbnail -->
                            <img class="card-img-top" src="/images/Dashboard/historia1.jpg" alt="project image cap">
                            <div class="card-img-overlay">
                                <h4 class="display-6 text-center text-md-center" style="margin-top: 50px;">
                                    <span class="text-primary">Procariotas</span>
                                </h4>
                                <div class="badge badge-success p-1"><a class="text-historia"
                                        style="text-decoration: none; " href="/procariotas">Ver</a>
                                </div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col -->

                    <div class="col-md-6 col-xl-6">
                        <!-- project card -->
                        <div class="card d-block">
                            <!-- project-thumbnail -->
                            <img class="card-img-top" src="/images/Dashboard/concepto1.jpg" alt="project image cap">
                            <div class="card-img-overlay">
                                <h4 class="display-6 text-center text-md-center"
                                    style="margin-top: 50px; margin-bottom: 4px;">
                                    <span class="text-primary">Eucarióticas</span>
                                </h4>
                                <div class="badge badge-success p-1-2"><a class="text-historia"
                                        style="text-decoration: none; " href="/eucarioticas">Ver</a></div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
            </div><!-- end card body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>

</div>