@font-face {
    font-family: "AvenirNextLTW02-Medium";
    src: url("/fonts/Avenir-Regular.woff") format("woff");
}

body {
    font-family: "AvenirNextLTW02-Regular", helvetica, arial, sans-serif;
    overflow-x: hidden;
    background: url(/images/Home/background.png);
    background-size: 100%;
    margin: 0;
}

body.isMath {
    background-color: #ddd;
}

#root {
    min-height: 100vh;
    padding: 30px;
}

@media (max-width: 460px) {
    body {
        background-color: transparent;
    }

    #root {
        min-height: initial;
    }
}

.ais-SearchBox__wrapper {
    width: initial;
    border: 1px solid rgba(0, 0, 0, 0.42);
}

.ais-SearchBox__wrapper:hover {
    border: 1px solid rgba(0, 0, 0, 0.87);
}

.ais-InstantSearch__root {
    margin-bottom: 10px;
    position: relative;
}

.ais-InstantSearch__root>div {
    position: relative;
}

.ais-SearchBox__root {
    max-width: initial;
}

.ais-SearchBox__input {
    border: none;
    border-radius: 0;
    font-family: "AvenirNextLTW02-Medium", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    box-shadow: none;
    transition: border-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.ais-SearchBox__input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.42);
}

.ais-SearchBox__input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.42);
}

.ais-SearchBox__input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.42);
}

.ais-SearchBox__input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.42);
}

.ais-SearchBox__submit svg {
    fill: rgba(0, 0, 0, 0.42);
}

select#country,
select#state {
    width: 94%;
}

.addSchoolDialog .errorMessage {
    display: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.75rem;
    color: red;
    margin-top: 5px;
}

.messageDialog {
    font-size: 16px;
}

.dialogBtn {
    color: #03a9f4;
    font-size: 16px;
}

.addSchoolDialog .error>label {
    color: red;
}

.addSchoolDialog .error .errorMessage {
    display: block;
}

.addSchoolDialog .error>div:not(.errorMessage)::before {
    background-color: red !important;
    height: 2px;
}

.error .ais-SearchBox__wrapper {
    border-color: red !important;
}

.error input[type="search"]::-webkit-input-placeholder {
    color: red !important;
}

.error input[type="search"]::-moz-placeholder {
    color: red !important;
}

.error input[type="search"]:-ms-input-placeholder {
    color: red !important;
}

.error input[type="search"]:-moz-placeholder {
    color: red !important;
}

.error .ais-SearchBox__submit svg {
    fill: red !important;
}

.schoolDropdown {
    position: relative;
    margin-top: -4px;
    margin-left: 20px;
}

.schoolDropdown ul {
    width: 96%;
    border: 1px solid #000;
    z-index: 10;
    position: absolute;
    box-sizing: border-box;
    background-color: #fff;
    max-height: 400px;
    overflow-y: auto;
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}

.MuiGrid-zeroMinWidth {
    min-width: 0;
}

.MuiGrid-direction-xs-column {
    flex-direction: column;
}

.MuiGrid-direction-xs-column-reverse {
    flex-direction: column-reverse;
}

.MuiGrid-direction-xs-row-reverse {
    flex-direction: row-reverse;
}

.MuiGrid-wrap-xs-nowrap {
    flex-wrap: nowrap;
}

.MuiGrid-wrap-xs-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.MuiGrid-align-items-xs-center {
    align-items: center;
}

.MuiGrid-align-items-xs-flex-start {
    align-items: flex-start;
}

.MuiGrid-align-items-xs-flex-end {
    align-items: flex-end;
}

.MuiGrid-align-items-xs-baseline {
    align-items: baseline;
}

.MuiGrid-align-content-xs-center {
    align-content: center;
}

.MuiGrid-align-content-xs-flex-start {
    align-content: flex-start;
}

.MuiGrid-align-content-xs-flex-end {
    align-content: flex-end;
}

.MuiGrid-align-content-xs-space-between {
    align-content: space-between;
}

.MuiGrid-align-content-xs-space-around {
    align-content: space-around;
}

.MuiGrid-justify-xs-center {
    justify-content: center;
}

.MuiGrid-justify-xs-flex-end {
    justify-content: flex-end;
}

.MuiGrid-justify-xs-space-between {
    justify-content: space-between;
}

.MuiGrid-justify-xs-space-around {
    justify-content: space-around;
}

.MuiGrid-justify-xs-space-evenly {
    justify-content: space-evenly;
}

.MuiGrid-spacing-xs-1 {
    width: calc(100% + 8px);
    margin: -4px;
}

.MuiGrid-spacing-xs-1>.MuiGrid-item {
    padding: 4px;
}

.MuiGrid-spacing-xs-2 {
    width: calc(100% + 16px);
    margin: -8px;
}

.MuiGrid-spacing-xs-2>.MuiGrid-item {
    padding: 8px;
}

.MuiGrid-spacing-xs-3 {
    width: calc(100% + 24px);
    margin: -12px;
}

.MuiGrid-spacing-xs-3>.MuiGrid-item {
    padding: 12px;
}

.MuiGrid-spacing-xs-4 {
    width: calc(100% + 32px);
    margin: -16px;
}

.MuiGrid-spacing-xs-4>.MuiGrid-item {
    padding: 16px;
}

.MuiGrid-spacing-xs-5 {
    width: calc(100% + 40px);
    margin: -20px;
}

.MuiGrid-spacing-xs-5>.MuiGrid-item {
    padding: 20px;
}

.MuiGrid-spacing-xs-6 {
    width: calc(100% + 48px);
    margin: -24px;
}

.MuiGrid-spacing-xs-6>.MuiGrid-item {
    padding: 24px;
}

.MuiGrid-spacing-xs-7 {
    width: calc(100% + 56px);
    margin: -28px;
}

.MuiGrid-spacing-xs-7>.MuiGrid-item {
    padding: 28px;
}

.MuiGrid-spacing-xs-8 {
    width: calc(100% + 64px);
    margin: -32px;
}

.MuiGrid-spacing-xs-8>.MuiGrid-item {
    padding: 32px;
}

.MuiGrid-spacing-xs-9 {
    width: calc(100% + 72px);
    margin: -36px;
}

.MuiGrid-spacing-xs-9>.MuiGrid-item {
    padding: 36px;
}

.MuiGrid-spacing-xs-10 {
    width: calc(100% + 80px);
    margin: -40px;
}

.MuiGrid-spacing-xs-10>.MuiGrid-item {
    padding: 40px;
}

.MuiGrid-grid-xs-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
}

.MuiGrid-grid-xs-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
}

.MuiGrid-grid-xs-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
}

.MuiGrid-grid-xs-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
}

.MuiGrid-grid-xs-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
}

.MuiGrid-grid-xs-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
}

.MuiGrid-grid-xs-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
}

.MuiGrid-grid-xs-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
}

.MuiGrid-grid-xs-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
}

.MuiGrid-grid-xs-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
}

.MuiGrid-grid-xs-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
}

.MuiGrid-grid-xs-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
}

.MuiGrid-grid-xs-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
}

.MuiGrid-grid-xs-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

@media (min-width:600px) {
    .MuiGrid-grid-sm-auto {
        flex-grow: 0;
        max-width: none;
        flex-basis: auto;
    }

    .MuiGrid-grid-sm-true {
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }

    .MuiGrid-grid-sm-1 {
        flex-grow: 0;
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }

    .MuiGrid-grid-sm-2 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%;
    }

    .MuiGrid-grid-sm-3 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }

    .MuiGrid-grid-sm-4 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }

    .MuiGrid-grid-sm-5 {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }

    .MuiGrid-grid-sm-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .MuiGrid-grid-sm-7 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }

    .MuiGrid-grid-sm-8 {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }

    .MuiGrid-grid-sm-9 {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
    }

    .MuiGrid-grid-sm-10 {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    .MuiGrid-grid-sm-11 {
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
    }

    .MuiGrid-grid-sm-12 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media (min-width:960px) {
    .MuiGrid-grid-md-auto {
        flex-grow: 0;
        max-width: none;
        flex-basis: auto;
    }

    .MuiGrid-grid-md-true {
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }

    .MuiGrid-grid-md-1 {
        flex-grow: 0;
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }

    .MuiGrid-grid-md-2 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%;
    }

    .MuiGrid-grid-md-3 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }

    .MuiGrid-grid-md-4 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }

    .MuiGrid-grid-md-5 {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }

    .MuiGrid-grid-md-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .MuiGrid-grid-md-7 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }

    .MuiGrid-grid-md-8 {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }

    .MuiGrid-grid-md-9 {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
    }

    .MuiGrid-grid-md-10 {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    .MuiGrid-grid-md-11 {
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
    }

    .MuiGrid-grid-md-12 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media (min-width:1280px) {
    .MuiGrid-grid-lg-auto {
        flex-grow: 0;
        max-width: none;
        flex-basis: auto;
    }

    .MuiGrid-grid-lg-true {
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }

    .MuiGrid-grid-lg-1 {
        flex-grow: 0;
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }

    .MuiGrid-grid-lg-2 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%;
    }

    .MuiGrid-grid-lg-3 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }

    .MuiGrid-grid-lg-4 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }

    .MuiGrid-grid-lg-5 {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }

    .MuiGrid-grid-lg-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .MuiGrid-grid-lg-7 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }

    .MuiGrid-grid-lg-8 {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }

    .MuiGrid-grid-lg-9 {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
    }

    .MuiGrid-grid-lg-10 {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    .MuiGrid-grid-lg-11 {
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
    }

    .MuiGrid-grid-lg-12 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media (min-width:1920px) {
    .MuiGrid-grid-xl-auto {
        flex-grow: 0;
        max-width: none;
        flex-basis: auto;
    }

    .MuiGrid-grid-xl-true {
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }

    .MuiGrid-grid-xl-1 {
        flex-grow: 0;
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }

    .MuiGrid-grid-xl-2 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%;
    }

    .MuiGrid-grid-xl-3 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }

    .MuiGrid-grid-xl-4 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }

    .MuiGrid-grid-xl-5 {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }

    .MuiGrid-grid-xl-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .MuiGrid-grid-xl-7 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }

    .MuiGrid-grid-xl-8 {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }

    .MuiGrid-grid-xl-9 {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
    }

    .MuiGrid-grid-xl-10 {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    .MuiGrid-grid-xl-11 {
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
    }

    .MuiGrid-grid-xl-12 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

@font-face {
    font-family: "AvenirNextLTW02-Medium";
    src: url("../fonts/Avenir-Medium.woff") format("woff");
}

.MuiInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "AvenirNextLTW02-Medium", "Helvetica", "Arial", sans-serif;
    line-height: 1.1875em;
}

.MuiInputBase-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.MuiInputBase-multiline {
    padding: 6px 0 7px;
}

.MuiInputBase-multiline.MuiInputBase-marginDense {
    padding-top: 3px;
}

.MuiInputBase-fullWidth {
    width: 100%;
}

.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1875em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
}

.MuiInputBase-input::-webkit-input-placeholder {
    color: currentColor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiInputBase-input::-moz-placeholder {
    color: currentColor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiInputBase-input:-ms-input-placeholder {
    color: currentColor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiInputBase-input::-ms-input-placeholder {
    color: currentColor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiInputBase-input:focus {
    outline: 0;
}

.MuiInputBase-input:invalid {
    box-shadow: none;
}

.MuiInputBase-input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.MuiInputBase-input.Mui-disabled {
    opacity: 1;
}

label[data-shrink=false]+.MuiInputBase-formControl .MuiInputBase-input::-webkit-input-placeholder {
    opacity: 0 !important;
}

label[data-shrink=false]+.MuiInputBase-formControl .MuiInputBase-input::-moz-placeholder {
    opacity: 0 !important;
}

label[data-shrink=false]+.MuiInputBase-formControl .MuiInputBase-input:-ms-input-placeholder {
    opacity: 0 !important;
}

label[data-shrink=false]+.MuiInputBase-formControl .MuiInputBase-input::-ms-input-placeholder {
    opacity: 0 !important;
}

label[data-shrink=false]+.MuiInputBase-formControl .MuiInputBase-input:focus::-webkit-input-placeholder {
    opacity: 0.42;
}

label[data-shrink=false]+.MuiInputBase-formControl .MuiInputBase-input:focus::-moz-placeholder {
    opacity: 0.42;
}

label[data-shrink=false]+.MuiInputBase-formControl .MuiInputBase-input:focus:-ms-input-placeholder {
    opacity: 0.42;
}

label[data-shrink=false]+.MuiInputBase-formControl .MuiInputBase-input:focus::-ms-input-placeholder {
    opacity: 0.42;
}

.MuiInputBase-inputMarginDense {
    padding-top: 3px;
}

.MuiInputBase-inputSelect {
    padding-right: 24px;
}

.MuiInputBase-inputMultiline {
    height: auto;
    resize: none;
    padding: 0;
}

.MuiInputBase-inputTypeSearch {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.MuiInput-root {
    position: relative;
}

label+.MuiInput-formControl {
    margin-top: 16px;
}

.MuiInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #03a9f4;
    pointer-events: none;
}

.MuiInput-underline.Mui-focused:after {
    transform: scaleX(1);
}

.MuiInput-underline.Mui-error:after {
    transform: scaleX(1);
    border-bottom-color: #f44336;
}

.MuiInput-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}

.MuiInput-underline.Mui-disabled:before {
    border-bottom-style: dotted;
}

@media (hover: none) {
    .MuiInput-underline:hover:not(.Mui-disabled):before {
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }
}

.MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: "AvenirNextLTW02-Medium", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
}

.MuiFormLabel-root.Mui-focused {
    color: #03a9f4;
}

.MuiFormLabel-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.38);
}

.MuiFormLabel-root.Mui-error {
    color: #f44336;
}

.MuiFormLabel-asterisk.Mui-error {
    color: #f44336;
}

.MuiInputLabel-root {
    display: block;
    transform-origin: top left;
}

.MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 24px) scale(1);
}

.MuiInputLabel-marginDense {
    transform: translate(0, 21px) scale(1);
}

.MuiInputLabel-shrink {
    transform: translate(0, 1.5px) scale(0.75);
    transform-origin: top left;
}

.MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.MuiInputLabel-filled {
    z-index: 1;
    transform: translate(12px, 20px) scale(1);
    pointer-events: none;
}

.MuiInputLabel-filled.MuiInputLabel-marginDense {
    transform: translate(12px, 17px) scale(1);
}

.MuiInputLabel-filled.MuiInputLabel-shrink {
    transform: translate(12px, 10px) scale(0.75);
}

.MuiInputLabel-filled.MuiInputLabel-shrink.MuiInputLabel-marginDense {
    transform: translate(12px, 7px) scale(0.75);
}

.MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(14px, 20px) scale(1);
    pointer-events: none;
}

.MuiInputLabel-outlined.MuiInputLabel-marginDense {
    transform: translate(14px, 12px) scale(1);
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75);
}

.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    box-sizing: border-box;
    flex-direction: column;
    vertical-align: top;
}

.MuiFormControl-root .Mui-disabled svg {
    color: rgba(0, 0, 0, 0.25);
}

.MuiFormControl-marginNormal {
    margin-top: 16px;
    margin-bottom: 8px;
}

.MuiFormControl-marginDense {
    margin-top: 8px;
    margin-bottom: 6px;
}

.MuiFormControl-fullWidth {
    width: 100%;
}

.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}

.MuiPaper-rounded {
    border-radius: 4px;
}

.MuiPaper-elevation0 {
    box-shadow: none;
}

.MuiPaper-elevation1 {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation2 {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation3 {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation4 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation5 {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation6 {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation7 {
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation9 {
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation10 {
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation11 {
    box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation12 {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation13 {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation14 {
    box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation15 {
    box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation16 {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation17 {
    box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation18 {
    box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation19 {
    box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation20 {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation21 {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation22 {
    box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation23 {
    box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.MuiPaper-elevation24 {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}



.jss241 {
    color: #0277bd;
    cursor: pointer;
    text-decoration: none;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.MuiTouchRipple-ripple {
    opacity: 0;
    position: absolute;
}

.MuiTouchRipple-rippleVisible {
    opacity: 0.3;
    animation: MuiTouchRipple-keyframes-mui-ripple-enter 550ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1);
}

.MuiTouchRipple-ripplePulsate {
    animation-duration: 200ms;
}

.MuiTouchRipple-child {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    border-radius: 50%;
    background-color: currentColor;
}

.MuiTouchRipple-childLeaving {
    opacity: 0;
    animation: MuiTouchRipple-keyframes-mui-ripple-exit 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.MuiTouchRipple-childPulsate {
    top: 0;
    left: 0;
    position: absolute;
    animation: MuiTouchRipple-keyframes-mui-ripple-pulsate 2500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;
}


.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiButtonBase-root::-moz-focus-inner {
    border-style: none;
}

.MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none;
}

@font-face {
    font-family: "AvenirNextLTW02-Medium";
    src: url("../fonts/Avenir-Medium.woff") format("woff");
}

.MuiButton-root {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "AvenirNextLTW02-Medium", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    text-transform: uppercase;
}

.MuiButton-root:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.08);
}

.MuiButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
}

@media (hover: none) {
    .MuiButton-root:hover {
        background-color: transparent;
    }
}

.MuiButton-root:hover.Mui-disabled {
    background-color: transparent;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.MuiButton-text {
    padding: 6px 8px;
}

.MuiButton-textPrimary {
    color: #0277bd;
}

.MuiButton-textPrimary:hover {
    background-color: rgba(2, 119, 189, 0.08);
}

@media (hover: none) {
    .MuiButton-textPrimary:hover {
        background-color: transparent;
    }
}

.MuiButton-textSecondary {
    color: #f50057;
}

.MuiButton-textSecondary:hover {
    background-color: rgba(245, 0, 87, 0.08);
}

@media (hover: none) {
    .MuiButton-textSecondary:hover {
        background-color: transparent;
    }
}

.MuiButton-outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 16px;
}

.MuiButton-outlined.Mui-disabled {
    border: 1px solid rgba(0, 0, 0, 0.26);
}

.MuiButton-outlinedPrimary {
    color: #0277bd;
    border: 1px solid rgba(2, 119, 189, 0.5);
}

.MuiButton-outlinedPrimary:hover {
    border: 1px solid #0277bd;
    background-color: rgba(2, 119, 189, 0.08);
}

@media (hover: none) {
    .MuiButton-outlinedPrimary:hover {
        background-color: transparent;
    }
}

.MuiButton-outlinedSecondary {
    color: #f50057;
    border: 1px solid rgba(245, 0, 87, 0.5);
}

.MuiButton-outlinedSecondary:hover {
    border: 1px solid #f50057;
    background-color: rgba(245, 0, 87, 0.08);
}

.MuiButton-outlinedSecondary.Mui-disabled {
    border: 1px solid rgba(0, 0, 0, 0.26);
}

@media (hover: none) {
    .MuiButton-outlinedSecondary:hover {
        background-color: transparent;
    }
}

.MuiButton-contained {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
}

.MuiButton-contained.Mui-focusVisible {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.MuiButton-contained:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.MuiButton-contained.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}

.MuiButton-contained:hover {
    background-color: #d5d5d5;
}

@media (hover: none) {
    .MuiButton-contained:hover {
        background-color: #e0e0e0;
    }
}

.MuiButton-contained:hover.Mui-disabled {
    background-color: rgba(0, 0, 0, 0.12);
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: #0277bd;
}

.MuiButton-containedPrimary:hover {
    background-color: #03a9f4;
}

@media (hover: none) {
    .MuiButton-containedPrimary:hover {
        background-color: #0277bd;
    }
}

.MuiButton-containedSecondary {
    color: #fff;
    background-color: #f50057;
}

.MuiButton-containedSecondary:hover {
    background-color: #c51162;
}

@media (hover: none) {
    .MuiButton-containedSecondary:hover {
        background-color: #f50057;
    }
}

.MuiButton-colorInherit {
    color: inherit;
    border-color: currentColor;
}

.MuiButton-sizeSmall {
    padding: 4px 8px;
    font-size: 0.8125rem;
}

.MuiButton-sizeLarge {
    padding: 8px 24px;
    font-size: 0.9375rem;
}

.MuiButton-fullWidth {
    width: 100%;
}

@media print {
    .MuiDialog-root {
        position: absolute !important;
    }
}

.MuiDialog-scrollPaper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiDialog-scrollBody {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.MuiDialog-scrollBody:after {
    width: 0;
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.MuiDialog-container {
    height: 100%;
    outline: 0;
}

@media print {
    .MuiDialog-container {
        height: auto;
    }
}

.MuiDialog-paper {
    margin: 48px;
    position: relative;
    overflow-y: auto;
}

@media print {
    .MuiDialog-paper {
        box-shadow: none;
        overflow-y: visible;
    }
}

.MuiDialog-paperScrollPaper {
    display: flex;
    max-height: calc(100% - 96px);
    flex-direction: column;
}

.MuiDialog-paperScrollBody {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.MuiDialog-paperWidthFalse {
    max-width: calc(100% - 96px);
}

.MuiDialog-paperWidthXs {
    max-width: 444px;
}

@media (max-width:539.95px) {
    .MuiDialog-paperWidthXs.MuiDialog-paperScrollBody {
        max-width: calc(100% - 96px);
    }
}

.MuiDialog-paperWidthSm {
    max-width: 600px;
}

@media (max-width:695.95px) {
    .MuiDialog-paperWidthSm.MuiDialog-paperScrollBody {
        max-width: calc(100% - 96px);
    }
}

.MuiDialog-paperWidthMd {
    max-width: 960px;
}

@media (max-width:1055.95px) {
    .MuiDialog-paperWidthMd.MuiDialog-paperScrollBody {
        max-width: calc(100% - 96px);
    }
}

.MuiDialog-paperWidthLg {
    max-width: 1280px;
}

@media (max-width:1375.95px) {
    .MuiDialog-paperWidthLg.MuiDialog-paperScrollBody {
        max-width: calc(100% - 96px);
    }
}

.MuiDialog-paperWidthXl {
    max-width: 1920px;
}

@media (max-width:2015.95px) {
    .MuiDialog-paperWidthXl.MuiDialog-paperScrollBody {
        max-width: calc(100% - 96px);
    }
}

.MuiDialog-paperFullWidth {
    width: calc(100% - 96px);
}

.MuiDialog-paperFullScreen {
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 100%;
    max-height: none;
    border-radius: 0;
}

.MuiDialog-paperFullScreen.MuiDialog-paperScrollBody {
    margin: 0;
    max-width: 100%;
}

.jss238 {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
}

.jss239 {
    top: 15px;
    right: 0px;
    display: none;
    z-index: 100;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
}

.jss240 {
    display: block;
}

.jss181 {
    font-size: 16px;
}

.jss182 {
    font-size: 24px;
}

.jss183 {
    color: #000;
    margin: 20px 0px 0px;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.jss183:before {
    width: 6%;
    height: .65em;
    margin: 0 2% 0 -55%;
    content: "";
    display: inline-block;
    border-bottom: 1px solid #000;
    vertical-align: top;
}

.jss183:after {
    width: 6%;
    height: .65em;
    margin: 0 -55% 0 2%;
    content: "";
    display: inline-block;
    border-bottom: 1px solid #000;
    vertical-align: top;
}

.jss158 {
    width: 100%;
    padding: 8px 10px 8px 10px;
    text-align: center;
    text-transform: inherit;
    justify-content: center;
    background-color: white;
}

.jss159 {
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.jss160 {
    display: inline-block;
    line-height: 30px;
}

.jss116 {
    font-size: 19px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 19px;
}

.jss117 {
    margin: 21px 0;
    font-size: 16px;
    text-align: center;
}

.jss118 {
    color: #78909C;
    font-size: 16px;
    margin-top: -15px;
}

.jss119 {
    margin-right: 8px;
}

.jss120 {
    min-width: 155px;
    box-sizing: border-box;
}

.jss121 {
    height: 30px;
}

.jss122 {
    color: #fff;
    width: 100%;
    margin-top: 10px;
    padding-top: 12px;
    margin-bottom: 15px;
    padding-bottom: 12px;
}

.jss123 {
    font-size: 14px;
    text-align: center;
}

.jss124 {
    margin-left: 10px;
}

.jss125 {
    margin-bottom: 20px;
}

.jss126 {
    color: #222;
    font-size: 18px;
    font-weight: bold;
    margin-left: 0px !important;
    margin-bottom: 5px;
}

.jss127 {
    width: 100%;
    padding: 24px;
    max-width: 460px;
    box-sizing: border-box;
}

.jss128 {
    color: #0277bd;
    text-decoration: none;
}

@media (max-width: 460px) {
    .jss127 {
        padding: 5px 18px 24px;
        box-shadow: none;
    }
}

.jss129 {
    float: right;
    display: block;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.jss130 {
    font-size: 16px;
}

.jss130 a {
    color: #0277bd;
}

.jss112 {
    text-align: center;
}

.jss113 {
    height: 50px;
}

.jss114 {
    height: 75px;
}

.jss115 {
    height: 100px;
}

.jss1 {
    margin: 8px;
}

.jss2 {
    display: none;
}

.jss3 {
    width: 100%;
    margin: 0;
}

.jss4 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.jss5 {
    width: 100%;
    margin: 0;
    flex-grow: 1;
    min-height: 90vh;
    padding-top: 5px;
}

.jss5 .MuiFormControl-root {
    padding: 0 20px;
}

.jss5 .MuiFormLabel-root {
    margin-left: 20px;
}

@media (max-width: 460px) {
    .jss5 .MuiFormLabel-root {
        margin-left: 0;
    }
}

@media (max-width: 460px) {
    .jss5 .MuiFormControl-root {
        padding: 0;
    }
}

.jss6 {
    display: none;
}

.jss7 {
    display: block;
}

.logo {
    display: block;
    padding-top: 10px;
    padding-bottom: 25px;
}
.jss8 {
    opacity: 0;
}

@media (max-width: 460px) {
    .jss5 {
        width: 100%;
        margin-left: 0;
        padding-top: 0;
        margin-right: 0;
    }

    .jss4 {
        margin-bottom: 0;
    }

    .jss7 {
        display: none;
    }

    .jss6 {
        display: block;
    }
}


@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}