<ol class="breadcrumb">
    <li>
        <a href="/profesores">Profesores</a>
    </li>
    <li>
        <a href="/nuevoprofesor">Nuevo</a>
    </li>
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg pull-right">
        <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
                <i class="ti ti-shift-left"></i>
            </span>
        </a>
    </span>
</ol>
<div class="page-heading">
    <h1>Nuevo Profesor</h1>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Datos del Profesor</h2>
            <a href="/profesores" class="btn-warning btn pull-right">
                <</a>
        </div>
        <form action="/nuevoProfesor" method="post" class="form-horizontal row-border">
            <input type="hidden" name="id" value="">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Documento</label>
                    <div class="col-sm-3">
                        <input type="number" name="identificacionP" class="form-control" 
                            onpaste="return false" placeholder="Sin puntos ni guiones" value="" required>
                    </div>
                    <label class="col-sm-2 control-label">Tipo Documento</label>
                    <div class="col-sm-3">
                        <select name="documentoP" class="form-control" required>
                            <option value="">SELECCIONE TIPO DE DOCUMENTO</option>
                            {{#each data}}
                            <option value="{{idTipoDocumento}}">{{Tipo}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-xs-3">
                        <input type="text" name="nombreP" maxlength="50" onkeypress="return soloLetras(event)"
                            onpaste="return false" class="form-control" value="" required>
                    </div>
                    <label class="col-sm-2 control-label">Apellido</label>
                    <div class="col-xs-3">
                        <input type="text" name="apellidosP" maxlength="70" onkeypress="return soloLetras(event)"
                            onpaste="return false" class="form-control" value="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Teléfono movil</label>
                    <div class="col-xs-3">
                        <input type="phone" name="celularP" onkeypress="return soloNumeros(event)"
                            onpaste="return false" class="form-control" maxlength="10" placeholder="Solo números"
                            value="" required>
                    </div>
                    <label class="col-sm-2 control-label">Dirección</label>
                    <div class="col-xs-3">
                        <input type="text" name="direccionP" class="form-control" maxlength="100" value="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Genero</label>
                    <div class="col-xs-3">
                        <select name="generoP" class="form-control" required>
                            <option value="">SELECCIONE GENERO </option>
                            <option value="1">Masculino</option>
                            <option value="2">Femenino</option>
                            <option value="3">Otro</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Fecha de nacimiento</label>
                    <div class="col-xs-3">
                        <input type="date" class="form-control" name="nacimientoP" value="" required>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button type="submit" class="btn-primary btn entity">Registrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>