<ol class="breadcrumb">
    <li>
        <a href="/usuarios">Usuarios</a>
    </li>
    <li>
        <a href="/nuevousuario">Registrar</a>
    </li>
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg pull-right">
        <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
                <i class="ti ti-shift-left"></i>
            </span>
        </a>
    </span>
</ol>
<div class="page-heading">
    <h1>Nuevo Usuario</h1>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Datos del Usuario</h2>
            <a href="/usuarios" class="btn-warning btn pull-right">
                <</a></div><form action="/nuevoempleado" method="post" class="form-horizontal row-border">
            <input type="hidden" name="id" value="">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Documento</label>
                    <div class="col-sm-3">
                        <input type="number" name="cedulaE" class="form-control" maxlength="10"
                            onpaste="return false" placeholder="Sin puntos ni guiones" min="1" value="" required>
                    </div>
                    <label class="col-sm-2 control-label">Tipo Documento</label>
                    <div class="col-sm-3">
                        <select name="documentoE" class="form-control" required>
                            <option value="">SELECCIONE TIPO DE DOCUMENTO</option>
                            {{#each data}}
                            <option value="{{ID}}">{{TipoDocumento}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-xs-3">
                        <input type="text" name="nombreE" maxlength="50" onkeypress="return soloLetras(event)" onpaste="return false" class="form-control" value="" required>
                    </div>
                    <label class="col-sm-2 control-label">Apellido</label>
                    <div class="col-xs-3">
                        <input type="text" name="apellidoE" maxlength="70" onkeypress="return soloLetras(event)" onpaste="return false" class="form-control" value="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Teléfono movil</label>
                    <div class="col-xs-3">
                        <input type="phone" name="celularE" onkeypress="return soloNumeros(event)" onpaste="return false" class="form-control" maxlength="10"
                            placeholder="Solo números" value="" required>
                    </div>
                    <label class="col-sm-2 control-label">Dirección</label>
                    <div class="col-xs-3">
                        <input type="text" name="domicilioE" class="form-control" maxlength="100" value="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Genero</label>
                    <div class="col-xs-3">
                        <select name="generoE" class="form-control" required>
                            <option value="">SELECCIONE GENERO </option>
                            <option value="1">Masculino</option>
                            <option value="2">Femenino</option>
                            <option value="3">Otro</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Fecha de nacimiento</label>
                    <div class="col-xs-3">
                        <input type="date" class="form-control" name="nacimientoE" value="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Usuario</label>
                    <div class="col-xs-3">
                        <input type="text" name="user" maxlength="400" onpaste="return false" class="form-control" value="" required>
                    </div>
                    <label class="col-sm-2 control-label">Contraseña</label>
                    <div class="col-xs-3">
                        <input type="password" name="password" maxlength="45" onpaste="return false" class="form-control" value="" required>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Rol</label>
                    <div class="col-xs-3">
                        <select name="profesion" class="form-control" required>
                            <option value="">SELECCIONE ROL </option>
                            <option value="1">Profesor</option>
                            <option value="2">Estudiante</option>
                            <option value="3">Administrador</option>
                        </select>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button type="submit" class="btn-primary btn entity">Registrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var intro = introJs();
        intro.setOptions({
            steps: [{
                intro: "<b>¡Vamos con el primero paso!</b></br></br><ol><li style='color:lightgreen;'>Registro de un nuevo <u>cliente</u></li><li>Luego a su <u>mascota</u></li><li>Finalmente la <u>atención o control médico.</u></li></ol>"
            }, {
                intro: "Completa los datos solicitados y luego le das click al botón <b>Registrar</b>"
            }]
        });
        intro.setOptions({
            nextLabel: " Siguiente ",
            exitOnOverlayClick: false,
            prevLabel: " Anterior ",
            skipLabel: "Saltar asistente",
            doneLabel: "¡Entendido!",
            showProgress: false,
            showBullets: false,
            tooltipClass: "intro",
            hidePrev: true,
            hideNext: true,
            showStepNumbers: true
        });
    });
</script>
