<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Theme CSS -->
<link href="stylesheets/Home/actively-learn.webflow.3e9f3ff7d.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="stylesheets/Dashboard/global.css">
<link rel="stylesheet" href="stylesheets/Home/bootstrap.min.css">
<link href="stylesheets/Home/styles.css" rel="stylesheet" type="text/css" media="all">
<!-- Theme fonts -->
<link href="fonts/font-awesome.css" rel="stylesheet" type="text/css" media="all">
<!-- Theme js -->
<script src="javascript/Home/fontawesome.js"></script>
<script src="javascript/Home/jquery-3.5.1.slim.min.js"></script>
<script src="javascript/Home/bootstrap.min.js"></script>
<script src="javascript/Home/popper.min.js"></script>
<!-- Titulo -->
<title>Web Plants</title>
<!-- Icono barra de navegacion -->
<link rel="icon" href="images/Home/Logo BarraNavegacion.png">