<title>WebPlants | Administrador Profesor</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


<!-- Styles -->
<link type="text/css" href="https://s3.amazonaws.com/petsof/fonts/themify-icons/themify-icons.css" rel="stylesheet">
<link href="/stylesheets/Dashboard/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/Dashboard/app2.min.css" rel="stylesheet" type="text/css" id="light-style" />
<link rel="stylesheet" href="/stylesheets/Dashboard/ClassCard.css">

<!-- Boostrap -->
<link rel="text/css" href="/stylesheets/Admin/bootstrap.css">
<link rel="text/css" href="/stylesheets/Admin/dataTables.bootstrap4.min.css">


<!-- JS, Popper.js, and jQuery -->
<script src="/javascript/Home/jquery-3.5.1.slim.min.js"></script>
<script src="/javascript/Home/popper.min.js"></script>
<script src="/javascript/Home/bootstrap.min.js"></script>
<script src="/javascript/Dashboard/app.min.js"></script>

<!-- Icono barra de navegacion -->
<link rel="icon" href="/images/Home/Logo BarraNavegacion.png">