<title>WebPlants | Administrador Profesor</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


<!-- Styles -->
<link href="/stylesheets/Dashboard/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/Dashboard/app2.min.css" rel="stylesheet" type="text/css" id="light-style" />

<!-- JS, Popper.js, and jQuery -->
<script src="/javascript/Home/jquery-3.5.1.slim.min.js"></script>
<script src="/javascript/Home/popper.min.js"></script>
<script src="/javascript/Home/bootstrap.min.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

<!-- Icono barra de navegacion -->
<link rel="icon" href="/images/Home/Logo BarraNavegacion.png">