<div class="static-sidebar-wrapper sidebar-bluegray">
    <div class="static-sidebar">
        <div class="sidebar">
            <div class="widget">
                <div class="widget-body">
                    <div class="userinfo">
                        <div class="avatar">
                            <img class="img-responsive " src="/images/Home/Login WebPlants.png">
                        </div>
                        <div class="info">
                            <span class="username">WEB PLANTS</span>
                            <span class="useremail">webPlants@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget stay-on-collapse" id="widget-sidebar">
                <nav class="widget-body">
                    <ul class="acc-menu">
                        <li class="">
                            <a href="/admin">
                                <i class="ti ti-home"></i>
                                <span>Inicio</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/estudiantes">
                                <i class="ti ti-pencil"></i>
                                <span>Estudiantes</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/profesores">
                                <i class="ti ti-user"></i>
                                <span>Profesor</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/tematicas">
                                <i class="ti ti-bookmark-alt"></i>
                                <span>Tematíca</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/evaluaciones">
                                <i class="ti ti-write"></i>
                                <span>Evaluación</span>
                            </a>
                        </li>
                        <li class="hasChild">
                            <a href="javascript:;">
                                <i class="ti ti-settings"></i>
                                <span>Cuenta</span>
                            </a>
                            <ul class="acc-menu">
                                <li>
                                    <a href="/usuarios">
                                        Usuarios
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/">
                                <i class="ti ti-power-off"></i>
                                Salir
                            </a>
                        </li>
                        <li class="center" id="trigger-sidebar">
                            <a href="#">
                                <i class="ti ti-shift-left"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>