    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img src="images/Home/Logo WebPlants.png" class="navbar-brand-img" alt="...">
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item mr-4 mb-2 mb-lg-0">
                        <a href="/home" class="nav-link">
                            <span><i class="fas fa-home u-font-size-90 mr-1"></i> Home </span>
                        </a>
                    </li>
                    <li class="nav-item mr-4 mb-2 mb-lg-0">
                        <a class="nav-link" href="/tematica">
                            <i class="fas fa-microscope u-font-size-90 mr-1"></i> Tematica
                        </a>
                    </li>
                    <li class="nav-item mr-4 mb-2 mb-lg-0">
                        <a class="nav-link" href="/evaluacion">
                            <i class="fas fa-book-open u-font-size-90 mr-1"></i> Evaluación
                        </a>
                    </li>
                    <li class="nav-item mr-4 mb-2 mb-lg-0">
                        <a class="nav-link" href="#">
                            <i class="fas fa-book u-font-size-90 mr-1"></i> Blog
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>