<!-- <nav aria-label="Main Menu" class="mainMenu mainMenuOpen">
                <div class="mainMenuHeader">
                    <img src="/img/AL_Logo_White_Background.svg" alt="" class="alLogo">
                </div>
                <div class="menuListWrapper" style="position: relative; overflow: hidden; width: 100%; height: 100%;">
                    <div
                        style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: scroll; margin-right: -17px; margin-bottom: -17px;">
                        <ul>
                            <li><a class="catalog selected" href="#">Contenido</a></li>
                        </ul>
                        <section>
                            <div class="sectionHeader">
                                <div class="title">Clases</div>
                                <div class="mainMenuClassBtns">
                                    <button class="btnAddClass icon-plus iconBtn" id="" title="Add new class">
                                    </button>
                                </div>
                            </div>
                            <ul class="classList">
                                <li><a class="" href="javascript:void(0)" data-classid="474734">?</a></li>
                            </ul>
                        </section>
                        <div class="spacer"></div>
                    </div>
                    <div
                        style="position: absolute; height: 6px; right: 2px; bottom: 2px; left: 2px; border-radius: 3px;">
                        <div
                            style="position: relative; display: block; height: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); width: 0px;">
                        </div>
                    </div>
                    <div style="position: absolute; width: 6px; right: 2px; bottom: 2px; top: 2px; border-radius: 3px;">
                        <div class="scrollThumb" style="height: 0px;"></div>
                    </div>
                </div>
            </nav> -->
<div class="left-side-menu mm-show">
    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="/images/Home/Login WebPlants.png" alt="" height="50">
        </span>
        <span class="logo-sm">
            <img src="/images/Home/Login WebPlants.png" alt="" height="50">
        </span>
    </a>
    <div class="h-100 mm-active" id="left-side-menu-container" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden;">
                        <div class="simplebar-content" style="padding: 0px;">

                            <!--- Sidemenu -->
                            <ul class="metismenu side-nav mm-show">

                                <li class="side-nav-title side-nav-item">Navigation</li>

                                <li class="side-nav-item">
                                    <a href="/adminprofesor" class="side-nav-link">
                                        <i class="fas fa-chalkboard-teacher"></i> <span
                                            class="badge badge-success float-right">4</span>
                                        <span> Clase </span>
                                    </a>
                                </li>
                                <li class="side-nav-item">
                                    <a href="/grupoclase" class="side-nav-link">
                                        <i class="fas fa-graduation-cap"></i> <span
                                            class="badge badge-success float-right">4</span>
                                        <span> Grupo </span>
                                    </a>
                                </li>
                                <li class="side-nav-item">
                                    <a href="/contenidoprofesor" class="side-nav-link">
                                        <i class="fas fa-microscope"></i>
                                        <span class="badge badge-success float-right">4</span>
                                        <span> Contenido </span>
                                    </a>
                                </li>
                                <li class="side-nav-item">
                                    <a href="#" class="side-nav-link">
                                        <i class="fas fa-clipboard-check"></i>
                                        <span class="badge badge-success float-right">4</span>
                                        <span> Evaluación </span>
                                    </a>
                                </li>

                            </ul>
                            <!-- End Sidebar -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar -left -->
</div>