    <!-- WELCOME
    ================================================== -->
    <div class="splash content-splash">
        <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">

                    <!-- Heading -->
                    <h1 class="display-6 text-center text-md-left">
                        <span class="text-primary">Evaluación de la temática</span>
                    </h1>

                </div>
        <div data-w-id="0c5902c5-de13-8574-b2d7-7cf2944d6ea6"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
            class="subjects w-clearfix">
            <div class="subject-examen1-tile">
                <div class="subject-name-overlay subject-news"><a href="#" style="text-decoration: none;"
                        data-w-id="4671729c-8374-3209-b8e1-527ca2184c95" class="subject-link-block w-inline-block">
                        <div class="subject-tile-title single-line-title">Examen 1</div><img
                            src="images/Dashboard/flecha.png"
                            data-w-id="4671729c-8374-3209-b8e1-527ca2184c98" alt="" class="image-62">
                    </a></div>
            </div>
            <div class="subject-tile examen2-tile">
                <div class="subject-name-overlay"><a href="#" data-w-id="57c93f52-4c1a-8de8-76c6-b8f678ccdded"
                        class="subject-link-block w-inline-block" style="text-decoration: none;">
                        <div class="subject-tile-title single-line-title">Examen 2</div><img
                            src="images/Dashboard/flecha.png"
                            data-w-id="493153a5-329b-09bd-9a5a-984bafc91ea7" alt="" class="image-62">
                    </a></div>
            </div>
        </div>
        <div data-w-id="113d181f-7ab9-bfe5-1a77-2409e23025be"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
            class="subjects w-clearfix">
            <div class="subject-tile examen3-tile">
                <div class="subject-name-overlay subject-social-studies"><a
                        href="#" style="text-decoration: none;"
                        data-w-id="be05cbd2-67ab-a2a5-118b-008d45f6af9e" class="subject-link-block w-inline-block">
                        <div class="subject-tile-title">Examen 3</div><img
                            src="images/Dashboard/flecha.png"
                            data-w-id="113d181f-7ab9-bfe5-1a77-2409e23025d2" alt="" class="image-62">
                    </a></div>
            </div>
            <div class="subject-tile examen4-tile">
                <div class="subject-name-overlay subject-science"><a
                        href="#" style="text-decoration: none;"
                        data-w-id="d362bc59-9238-9878-4449-69e5fb55095e" class="subject-link-block w-inline-block">
                        <div class="subject-tile-title single-line-title">Examen 4</div><img
                            src="images/Dashboard/flecha.png"
                            data-w-id="113d181f-7ab9-bfe5-1a77-2409e23025d8" alt="" class="image-62">
                    </a></div>
            </div>
            <div class="subject-tile examen5-tile">
                <div class="subject-name-overlay subject-adaptabilidad"><a
                        href="#" style="text-decoration: none;"
                        data-w-id="d362bc59-9238-9878-4449-69e5fb55095e" class="subject-link-block w-inline-block">
                        <div class="subject-tile-title single-line-title">Examen 5</div><img
                            src="images/Dashboard/flecha.png"
                            data-w-id="113d181f-7ab9-bfe5-1a77-2409e23025d8" alt="" class="image-62">
                    </a></div>
            </div>
            <div class="subject-tile examen6-tile">
                <div class="subject-name-overlay subject-taxonomia"><a
                        href="#" style="text-decoration: none;"
                        data-w-id="d362bc59-9238-9878-4449-69e5fb55095e" class="subject-link-block w-inline-block">
                        <div class="subject-tile-title single-line-title">Examen 6</div><img
                            src="images/Dashboard/flecha.png"
                            data-w-id="113d181f-7ab9-bfe5-1a77-2409e23025d8" alt="" class="image-62">
                    </a></div>
            </div>
        </div>
    </div>