<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Theme CSS -->
    <link href="stylesheets/Home/actively-learn.webflow.3e9f3ff7d.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/Home/styles.css" rel="stylesheet" type="text/css" media="all">
    <!-- Theme js -->
    <script src="javascript/Home/fontawesome.js"></script>
    <!-- Titulo -->
    <title>Evaluación</title>
    <!-- Icono barra de navegacion -->
    <link rel="icon" href="images/Home/Logo BarraNavegacion.png">

</head>

<body>
    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img src="images/Home/Logo WebPlants.png" class="navbar-brand-img" alt="...">
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item mr-4 mb-2 mb-lg-0">
                        <a href="/home" class="nav-link">
                            <span><i class="fas fa-home u-font-size-80 mr-1"></i> Home </span>
                        </a>
                    </li>
                    <li class="nav-item mr-4 mb-2 mb-lg-0">
                        <a class="nav-link" href="/tematica">
                            <i class="fas fa-microscope u-font-size-80 mr-1"></i> Tematica
                        </a>
                    </li>
                    <li class="nav-item active mr-4 mb-2 mb-lg-0">
                        <a class="nav-link" href="/evaluacion">
                            <i class="fas fa-book-open u-font-size-80 mr-1"></i> Evaluación
                        </a>
                    </li>
                    <li class="nav-item mr-4 mb-2 mb-lg-0">
                        <a class="nav-link" href="#">
                            <i class="fas fa-book u-font-size-80 mr-1"></i> Blog
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- WELCOME
    ================================================== -->
    <div class="splash content-splash">
        <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">

                    <!-- Heading -->
                    <h1 class="display-6 text-center text-md-left">
                        <span class="text-primary">Evaluación de la temática</span>
                    </h1>

                </div>
        <div data-w-id="0c5902c5-de13-8574-b2d7-7cf2944d6ea6"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
            class="subjects w-clearfix">
            <div class="subject-examen1-tile">
                <div class="subject-name-overlay subject-news"><a href="/contenido"
                        data-w-id="4671729c-8374-3209-b8e1-527ca2184c95" class="subject-link-block w-inline-block">
                        <div class="subject-tile-title single-line-title">Examen 1</div><img
                            src="images/Dashboard/flecha.png"
                            data-w-id="4671729c-8374-3209-b8e1-527ca2184c98" alt="" class="image-62">
                    </a></div>
            </div>
            <div class="subject-tile examen2-tile">
                <div class="subject-name-overlay"><a href="#" data-w-id="57c93f52-4c1a-8de8-76c6-b8f678ccdded"
                        class="subject-link-block w-inline-block">
                        <div class="subject-tile-title single-line-title">Examen 2</div><img
                            src="images/Dashboard/flecha.png"
                            data-w-id="493153a5-329b-09bd-9a5a-984bafc91ea7" alt="" class="image-62">
                    </a></div>
            </div>
        </div>
        <div data-w-id="113d181f-7ab9-bfe5-1a77-2409e23025be"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
            class="subjects w-clearfix">
            <div class="subject-tile examen3-tile">
                <div class="subject-name-overlay subject-social-studies"><a
                        href="#"
                        data-w-id="be05cbd2-67ab-a2a5-118b-008d45f6af9e" class="subject-link-block w-inline-block">
                        <div class="subject-tile-title">Examen 3</div><img
                            src="images/Dashboard/flecha.png"
                            data-w-id="113d181f-7ab9-bfe5-1a77-2409e23025d2" alt="" class="image-62">
                    </a></div>
            </div>
            <div class="subject-tile examen4-tile">
                <div class="subject-name-overlay subject-science"><a
                        href="#"
                        data-w-id="d362bc59-9238-9878-4449-69e5fb55095e" class="subject-link-block w-inline-block">
                        <div class="subject-tile-title single-line-title">Examen 4</div><img
                            src="images/Dashboard/flecha.png"
                            data-w-id="113d181f-7ab9-bfe5-1a77-2409e23025d8" alt="" class="image-62">
                    </a></div>
            </div>
            <div class="subject-tile examen5-tile">
                <div class="subject-name-overlay subject-adaptabilidad"><a
                        href="#"
                        data-w-id="d362bc59-9238-9878-4449-69e5fb55095e" class="subject-link-block w-inline-block">
                        <div class="subject-tile-title single-line-title">Examen 5</div><img
                            src="images/Dashboard/flecha.png"
                            data-w-id="113d181f-7ab9-bfe5-1a77-2409e23025d8" alt="" class="image-62">
                    </a></div>
            </div>
            <div class="subject-tile examen6-tile">
                <div class="subject-name-overlay subject-taxonomia"><a
                        href="#"
                        data-w-id="d362bc59-9238-9878-4449-69e5fb55095e" class="subject-link-block w-inline-block">
                        <div class="subject-tile-title single-line-title">Examen 6</div><img
                            src="images/Dashboard/flecha.png"
                            data-w-id="113d181f-7ab9-bfe5-1a77-2409e23025d8" alt="" class="image-62">
                    </a></div>
            </div>
        </div>
    </div>


    <!-- FOOTER
    ================================================== -->
    <footer class="section bg-dark">

        <!--Content -->
        <div class="container">
            <div class="row align-self-center">
                <div class="col-md-auto">

                    <!-- Brand -->
                    <p>
                        <a href="#" class="footer-brand text-white">
                            <img src="images/Home/Logo WebPlants.png" alt="" />
                            </svg>
                        </a>
                    </p>

                </div>
                <div class="col-md">

                    <!-- Links -->
                    <ul class="list-unstyled list-inline text-md-right">
                        <li class="list-inline-item mr-2">
                            <a href="#" class="text-white">
                                Terms and conditions
                            </a>
                        </li>
                        <li class="list-inline-item mr-2">
                            <a href="#" class="text-white">
                                Privacy policy
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-white">
                                Contact us
                            </a>

                        </li>
                    </ul>

                </div>
            </div> <!-- / .row -->
            <div class="row align-items-center">
                <div class="col-md">

                    <!-- Copyright -->
                    <p class="text-white text-muted">
                        <small>
                            © Web Plants <span class="current-year">2020</span>.
                        </small>
                    </p>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->

    </footer>
</body>

</html>