<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="stylesheets/Home/styles-crear-cuenta.css">

    <title>Elige tu rol para registrarte</title>
    <link rel="icon" href="images/Home/Logo BarraNavegacion.png">
</head>
<body class="no-touch" ontouchstart="">
    <div id="root">
        <main>
            <div
                class="MuiGrid-root jss5 MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-xs-center">
                <div class="MuiPaper-root MuiPaper-elevation1 jss286 MuiPaper-rounded">
                    <a class="jss4" href="/">
                        <div class="logo jss112 jss7"><img class="jss113" src="images/Home/Login WebPlants.png"
                                alt="Web Plants">
                        </div>
                    </a>
                    <h1 class="jss275">Empecemos!</h1>
                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3 MuiGrid-justify-xs-space-around">
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6"><a
                                class="MuiButtonBase-root MuiButton-root jss278 MuiButton-contained MuiButton-containedPrimary"
                                tabindex="0" type="button" id="educatorSignupButton" href="/loginProfesor"><span class="MuiButton-label"><img
                                        class="jss290" src="images/Home/apple.png" alt="">Soy un profesor</span><span
                                    class="MuiTouchRipple-root"></span></a></div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6"><a
                                class="MuiButtonBase-root MuiButton-root jss278 MuiButton-contained MuiButton-containedPrimary"
                                tabindex="0" type="button" id="studentSignupButton" href="/loginEstudiante"><span class="MuiButton-label"><img
                                        class="jss290" src="images/Home/pencil.png" alt="">Soy un estudiante</span><span
                                    class="MuiTouchRipple-root"></span></a></div>
                    </div>
                    <div class="jss288">Ya tienes una cuenta? <a class="jss241 jss283" color="primary" href="/login">Iniciar
                            sesión</a></div>
                </div>
            </div>
        </main>
    </div>

</body>
</html>