<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Theme Bosstrab-->
  <link rel="stylesheet" href="stylesheets/Home/styles-login-p.css">
  <link rel="stylesheet" href="stylesheets/Home/bootstrap.min.css">

  <title>Paso 1 - Registrate como estudiante - Web Plants</title>
  <!-- Icono barra de navegacion -->
  <link rel="icon" href="images/Home/Logo BarraNavegacion.png">
</head>

<body class="no-touch">
  <div id="root">
    <main>
      <div
        class="MuiGrid-root jss5 MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-xs-center">
        <div class="MuiPaper-root MuiPaper-elevation1 jss663 MuiPaper-rounded" id="educatorSignupCard">
          <div></div>
            <a class="jss4" href="/">
              <div class="logo jss112 jss7"><img class="jss113" src="images/Home/Login WebPlants.png" alt="Web Plants">
              </div>
            </a>
            <h1 class="jss680" aria-label="Welcome educator! Sign Up">Bienvenido estudiante! Registrate con</h1>
            <div>
              <div>
                <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2 MuiGrid-justify-xs-space-around">
                  <div class="MuiGrid-root jss684 MuiGrid-item MuiGrid-grid-xs-4"><button
                      class="MuiButtonBase-root MuiButton-root jss694 MuiButton-contained" tabindex="0" type="button"
                      aria-label="Sign up with Google"><span class="MuiButton-label"><img class="jss695"
                          src="images/Home/Google.png" alt=""><span class="jss696">Google</span></span><span
                        class="MuiTouchRipple-root"></span></button>
                  </div>
                </div>
                <div class="jss699">or</div>
              </div>
            </div>
            <div role="group" aria-label="Fill the details to sign up natively">
              <div class="MuiFormControl-root MuiTextField-root MuiFormControl-marginDense MuiFormControl-fullWidth">
                <form action="/saveEstudiante" method="POST">
                  <div class="form-row mb-2">
                    <div class="form-group col-md-6">
                      <label class="font-weight-bold">Documento <span class="text-danger">*</span></label>
                      <input type="number" name="identificacion" class="form-control" placeholder="Sin puntos ni guiones" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="font-weight-bold">Tipo de Dodumento <span class="text-danger">*</span></label>
                      <select name="tipoDocumento" class="form-control" required>
                        <option value=""> DOCUMENTO </option>
                      <option value="1">Tarjeta identidad</option>
                      <option value="2">Cedula</option>
                      <option value="3">Otro</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row mb-2">
                    <div class="form-group col-md-6">
                      <label class="font-weight-bold">Nombre <span class="text-danger">*</span></label>
                      <input type="text" name="nombre" class="form-control" placeholder="Last Name" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="font-weight-bold">Apellido <span class="text-danger">*</span></label>
                      <input type="text" name="apellidos" class="form-control" placeholder="First Name" required>
                    </div>
                  </div>
                  <div class="form-row mb-2">
                    <div class="form-group col-md-6">
                      <label class="font-weight-bold">Telefono <span class="text-danger">*</span></label>
                      <input type="phone" name="celular" class="form-control" onkeypress="return soloNumeros(event)" maxlength="10"
                        placeholder="Solo números" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="font-weight-bold">Genero <span class="text-danger">*</span></label>
                      <div class="col-xs-3">
                        <select name="genero" class="form-control" required>
                          <option value="">SELECCIONE GENERO </option>
                          <option value="1">Masculino</option>
                          <option value="2">Femenino</option>
                          <option value="3">Otro</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-row mb-2">
                    <div class="form-group col-md-6">
                      <label class="font-weight-bold">Codigo clase <span class="text-danger">*</span></label>
                      <input type="text" name="codigoClase" class="form-control-c" placeholder="Codigo Clase" required>
                    </div>
                    <div class="form-group col-md-6">
                      <div class="svg">
                        <svg class="icon" viewBox="0 0 24 24" id="help-icon">
                          <path fill="#b2b2b2" fill-rule="evenodd" stroke="none" stroke-width="1"
                            id="Icon/small/infocirle"
                            d="M12 21a9 9 0 110-18 9 9 0 010 18zm-1.227-9.411v4.095a1.226 1.226 0 002.454 0v-4.095a1.226 1.226 0 00-2.454 0zM12 8.727a1.227 1.227 0 100-2.454 1.227 1.227 0 000 2.454z">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label class="font-weight-bold">Correo electrónico <span class="text-danger">*</span></label>
                    <input type="email" name="correo" class="form-control" placeholder="Ingresa tu correo electrónico" required>
                  </div>
                  <button type="submit"
                    class="MuiButtonBase-root MuiButton-root jss686 MuiButton-contained MuiButton-containedPrimary"
                    tabindex="0" type="submit"><span class="MuiButton-label">Empezar</span><span
                      class="MuiTouchRipple-root"></span>
                  </button>
                </form>

              </div>
              <div class="jss687">¿Ya tienes una cuenta? <a class="jss241 jss688" color="primary" href="/login">Iniciar
                  sesión</a>
              </div>
            </div>
        </div>
      </div>
    </main>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

</body>

</html>