<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Theme Bosstrab-->
  <link rel="stylesheet" href="stylesheets/Home/styles-login-p.css">

  <title>Paso 1 - Registrate como estudiante - Web Plants</title>
  <!-- Icono barra de navegacion -->
    <link rel="icon" href="images/Home/Logo BarraNavegacion.png">
</head>

<body class="no-touch">
  <div id="root">
    <main>
      <div
        class="MuiGrid-root jss5 MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-xs-center">
        <div class="MuiPaper-root MuiPaper-elevation1 jss663 MuiPaper-rounded" id="educatorSignupCard">
          <div></div>
          <form>
            <a class="jss4" href="/">
              <div class="logo jss112 jss7"><img class="jss113" src="images/Home/Login WebPlants.png"
                  alt="Web Plants">
              </div>
            </a>
            <h1 class="jss680" aria-label="Welcome educator! Sign Up">Bienvenido estudiante! Registrate con</h1>
            <div>
              <div>
                <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2 MuiGrid-justify-xs-space-around">
                  <div class="MuiGrid-root jss684 MuiGrid-item MuiGrid-grid-xs-4"><button
                      class="MuiButtonBase-root MuiButton-root jss694 MuiButton-contained" tabindex="0" type="button"
                      aria-label="Sign up with Google"><span class="MuiButton-label"><img class="jss695"
                          src="images/Home/Google.png" alt=""><span class="jss696">Google</span></span><span
                        class="MuiTouchRipple-root"></span></button>
                  </div>
                </div>
                <div class="jss699">or</div>
              </div>
            </div>
            <div role="group" aria-label="Fill the details to sign up natively">
              <div class="MuiFormControl-root MuiTextField-root MuiFormControl-marginDense MuiFormControl-fullWidth">
                <form>
                  <input type='text' name="nombre" placeholder='First name' required>
                  <input type='text' name="apellido" placeholder='Last name' required>
                  <input type='text' name="codigo" placeholder='Código clase' required>
                  <input type='email' name="email" placeholder='Email' required>
                  <input type='password' name="password" placeholder='Password' required>
                </form>
                <div class="jss693"><button
                    class="MuiButtonBase-root MuiButton-root jss686 MuiButton-contained MuiButton-containedPrimary"
                    tabindex="0" type="submit"><span class="MuiButton-label">Empezar</span><span
                      class="MuiTouchRipple-root"></span></button>
                </div>
              </div>
              <div class="jss687">¿Ya tienes una cuenta? <a class="jss241 jss688" color="primary" href="/login">Iniciar
                  sesión</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
</body>

</html>