<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Theme Bosstrab-->
    <link rel="stylesheet" href="stylesheets/Home/styles.css">
    <!-- Fonts CSS -->
    <link rel="stylesheet" href="fonts/styles-login.css">
    <!-- Fonts script -->
    <script src="javascript/Home/fontawesome.js"></script>

    <title>Inicio Sesion | Web Plants</title>
    <!-- Icono barra de navegacion -->
    <link rel="icon" href="images/Home/Logo BarraNavegacion.png">

</head>

<body class="no-touch" ontouchstart="">
    <div id="root">
        <main>
            <div
                class="MuiGrid-root jss5 MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-xs-center">
                <div class="MuiPaper-root MuiPaper-elevation1 jss127 MuiPaper-rounded" id="signInCard">
                    <a class="jss4" href="/">
                        <div class="logo jss112 jss7"><img class="jss113" src="images/Home/Login WebPlants.png"
                                alt="Web Plants">
                        </div>
                    </a>
                    <h1 class="jss116" aria-label="Log in">Iniciar con</h1>
                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2 MuiGrid-justify-xs-space-around">
                        <div class="MuiGrid-root jss120 MuiGrid-item MuiGrid-grid-xs-4"><button
                                class="MuiButtonBase-root MuiButton-root jss158 MuiButton-contained" tabindex="0"
                                type="button" aria-label="Sign in with Google"><span class="MuiButton-label"><img
                                        class="jss159" src="images/Home/Google.png" alt=""><span
                                        class="jss160">Google</span></span><span
                                    class="MuiTouchRipple-root"></span></button></div>
                    </div>
                    <div class="jss183 jss182">or</div>
                    <div role="group" aria-label="Enter Credentials to sign in natively">
                        <form action="/signin" method="POST">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class='fas fa-user'></i>
                                        </span>
                                    </div>
                                    <input class="form-control" placeholder="UserName" id="loginUser" name="username"
                                        type="text" autofocus required>
                                </div>
                            </div>
                            <span class="help-block"></span>
                            <div class="jss238">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fas fa-unlock"></i>
                                            </span>
                                        </div>
                                        <input class="form-control" placeholder="Password" id="loginPassword"
                                            name="password" type="password" required>
                                    </div>
                                </div>
                            </div><a color="primary" class="jss241 jss129" style="text-decoration: none;" href="/resetpassword">¿Se te olvidó tu
                                contraseña?</a>
                            <button type="submit"
                                class="MuiButtonBase-root MuiButton-root jss122 MuiButton-contained MuiButton-containedPrimary"
                                tabindex="0" type="submit"><span class="MuiButton-label">Iniciar sesión</span><span
                                    class="MuiTouchRipple-root"></span>

                            </button>
                            <div class="jss123">¿No tienes una cuenta?<a class="jss241 jss124" color="primary"
                                    href="/crearCuenta" style="text-decoration: none;">Crea una cuenta</a></div>
                        </form>
                    </div>
                    <div></div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>