<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Theme Bosstrab-->
    <link rel="stylesheet" href="stylesheets/Home/styles.css">
    <!-- Fonts CSS -->
    <link rel="stylesheet" href="fonts/styles-login.css">
    <!-- Fonts script -->
    <script src="javascript/Home/fontawesome.js"></script>

    <title>Registrarse en | Web Plants</title>
    <!-- Icono barra de navegacion -->
    <link rel="icon" href="images/Home/Logo BarraNavegacion.png">

</head>

<body class="no-touch" ontouchstart="">
    <div id="root">
        <main>
            <div
                class="MuiGrid-root jss5 MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-xs-center">
                <div class="MuiPaper-root MuiPaper-elevation1 jss127 MuiPaper-rounded" id="signInCard">
                    <a class="jss4" href="/">
                        <div class="logo1 jss112 jss7"><img class="jss113" src="images/Home/Login WebPlants.png"
                                alt="Web Plants">
                        </div>
                    </a>
                    <h1 class="jss116" aria-label="Reset Log in">¿Olvidaste tu contraseña?</h1>
                    <div role="group" aria-label="Enter Credentials to sign in natively">
                        <form>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class='fas fa-envelope'></i>
                                        </span>
                                    </div>
                                    <input class="form-control" placeholder="Email" id="resetpassword" name="resetpassword"
                                        type="email" autofocus required>
                                </div>
                            </div>
                            <span class="help-block"></span>
                            <button
                                class="MuiButtonBase-root MuiButton-root jss122 MuiButton-contained MuiButton-containedPrimary"
                                tabindex="0" type="submit"><span class="MuiButton-label">Enviarme un enlace para restablecer</span><span
                                    class="MuiTouchRipple-root"></span>

                            </button>
                            <div class="jss123">¿Recuerdas tu contraseña?<a class="jss241 jss124" color="primary"
                                    href="/login">Iniciar sesión</a></div>
                        </form>
                    </div>
                    <div></div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>