
    
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Error</title>
  <link rel="stylesheet" href="/stylesheets/error/error.css">
</head>
<body class='err-{{error.status}}'>
    <a href="/">Regresar</a>
</body>
</html>