<!DOCTYPE html>
<html lang="es">
<head>
    {{>headA}}
</head>
<body>
    <div id="wrapper">
        <div id="layout-static">
            {{>navbarA}}
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        {{{ body }}}
                    </div>
                </div>
                {{>footerA}}
            </div>
        </div>
    </div>
</body>
    {{>scriptsA}}
</html>