<!DOCTYPE html>
<html lang="es">

<head>

    {{>headP}}

</head>

<body>
    <div id="wrapper">
        <div id="layout-static">

            {{>navbarP}}

            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        <!-- Topbar Start -->
                        <div class="navbar-custom">
                            <ul class="list-unstyled topbar-right-menu float-right mb-0">

                                <li class="dropdown notification-list">
                                    <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown"
                                        href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                        <span class="account-user-avatar">
                                            <img src="/images/Home/Login WebPlants.png" alt="user-image"
                                                class="rounded-circle">
                                        </span>
                                        <span>
                                            <span class="account-user-name">Dominic Keller</span>
                                            <span class="account-position">Founder</span>
                                        </span>
                                    </a>
                                    <div
                                        class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                        <!-- item-->
                                        <div class=" dropdown-header noti-title">
                                            <h6 class="text-overflow m-0">Welcome !</h6>
                                        </div>

                                        <!-- item-->
                                        <a href="/perfilprofesor" class="dropdown-item notify-item">
                                            <svg width="24" height="24" viewBox="0 0 24 24">
                                                <path fill="#8b8e9f" fill-rule="evenodd" stroke="none" stroke-width="1"
                                                    id="Icon/small/profile"
                                                    d="M7.2 13.6c1.672-.643 2.492.018 4.8 0s3.18-.594 4.8 0c1.13.414 2.034 1.505 2.713 3.274a1.6 1.6 0 01-.982 2.09c-2.05.69-4.225 1.036-6.527 1.036-2.293 0-4.461-.342-6.506-1.027a1.6 1.6 0 01-.977-2.113c.705-1.758 1.598-2.844 2.679-3.26zM16 8c0 2.213-1.787 4-4 4s-4-1.787-4-4 1.787-4 4-4 4 1.787 4 4z">
                                                </path>
                                            </svg>
                                            <span>Perfil</span>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <svg width="24" height="24" viewBox="0 0 24 24">
                                                <path fill="#8b8e9f" fill-rule="evenodd" stroke="none" stroke-width="1"
                                                    id="Icon/small/logout"
                                                    d="M7.56 4.909a.8.8 0 011.167.71v.913a.8.8 0 01-.358.667 7.61 7.61 0 00-.865.642c-1.262 1.142-2.05 2.758-2.05 4.55 0 3.458 2.931 6.261 6.546 6.261s6.545-2.803 6.545-6.26c0-1.777-.773-3.38-2.015-4.52a7.666 7.666 0 00-.9-.672.8.8 0 01-.357-.667v-.91a.8.8 0 011.166-.711c.183.094.338.18.465.26C19.37 6.707 21 9.367 21 12.392 21 17.145 16.97 21 12 21s-9-3.854-9-8.609c0-3.062 1.671-5.75 4.189-7.276a6.26 6.26 0 01.372-.206zM12 3a1 1 0 011 1v9.74a1 1 0 11-2 0V4a1 1 0 011-1z">
                                                </path>
                                            </svg>
                                            <span>Cerrar sesión</span>
                                        </a>

                                    </div>
                                </li>

                            </ul>
                        </div>
                        <!-- end Topbar -->
                        {{{ body }}}

                    </div>
                </div>

                {{>footerP}}

            </div>

        </div>
    </div>